<?include 'public/include/_header.phtml';?>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#slider_home").cycle({
				timeout: 10000,
				slides: '>.slide',
				fx: 'scrollHorz',
				pager: '>.pager',
				pagerTemplate: '<a href="#">{{slideNum}}</a>'
			});
		});
	</script>
	<div id="content">
		<div id="slider_home">
			<?foreach ($this->result as $campo => $valor) {?>
				<? $link = ((bool)trim($valor['link'])) ? (!(strstr($valor['link'],'http')) ? 'http://'.$valor['link'] : $valor['link']) : null; ?>
				<? if($link){ ?><a href="<?=$link?>" target="_blank" class="slide"><? } ?>
					<img class="slide" src="<?=PUBLIC_PATH?>/upload/home/<?=$valor['caminho_imagem']?>">
				<? if($link){ ?></a><? } ?>
			<?}?>
			<div class="pager"></div>
		</div>
	</div>
<?include 'public/include/_footer.phtml';?>