<?include 'public/include/_header.phtml';?>
<?include 'library/Func.php';?>
	<div id="content">
		<div id="content_interna">
			<h2>Veja nossas filmagens<br>de festas e eventos</h2>
			<div id="content_interna_films">
				<?if ($this->registros == 0){?>
					Nenhum video cadastrado.
				<?}else{?>
					<div id="content_interna_films_left">
						<?foreach ($this->resultprimeiro as $campo => $valor) {?>
							<? $v = _checkVideoStr($valor['caminho_video']); ?>
							<? $video = str_replace(array('http:','https:'), '', $v->embedUrl); ?>
							<input type="hidden" value="<?=$valor['id']?>" id="id_video"/>
							<?/*<object width="640" height="390"><param name="movie" value="//www.youtube.com/v/<?=$valor['caminho_video']?>"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/<?=$valor['caminho_video']?>?hl=pt_BR&amp;version=3" type="application/x-shockwave-flash" width="640" height="390" allowscriptaccess="always" allowfullscreen="true"></embed></object>*/?>
							<div class="video"><iframe 
								width="640" 
								height="390" 
								src="<?=$video?>" 
								frameborder="0" 
								allowfullscreen></iframe></div>
						<?}?>
					</div>
					<div id="content_interna_films_right">
						<div id="div_nome_menu_films">
							<ul>
								<li id="link_mostra_casamento" class="sel"><a href="javascript:;" onClick="mostracasamentos();">Casamentos</a></li>
								<li id="link_mostra_debutantes"><a href="javascript:;" onClick="mostradebutantes();">Debutantes</a></li>
							</ul>
						</div>
						<ul id="menu_films_casamento">
							<?foreach ($this->result_tipo1 as $campo => $valor) {?>
								<? $v = _checkVideoStr($valor['caminho_video']); ?>
								<? $video = str_replace(array('http:','https:'), '', $v->embedUrl); ?>
								<li id="menu_films_casamento_<?=$valor['id']?>" <?if($this->id_atual == $valor['id']){echo "class='sel'";}?>><a href="javascript:;" onClick="exibefilme('<?=$video?>',<?=$valor['id']?>)"><?=$valor['nome']?></a></li>
							<?}?>
						</ul>
						<ul id="menu_films_debutantes">
							<?foreach ($this->result_tipo2 as $campo => $valor) {?>
								<? $v = _checkVideoStr($valor['caminho_video']); ?>
								<? $video = str_replace(array('http:','https:'), '', $v->embedUrl); ?>
								<li id="menu_films_casamento_<?=$valor['id']?>" <?if($this->id_atual == $valor['id']){echo "class='sel'";}?>><a href="javascript:;" onClick="exibefilme('<?=$video?>',<?=$valor['id']?>)"><?=$valor['nome']?></a></li>
							<?}?>
						</ul>

					</div>
				<?}?>
			</div>
		</div>
	</div>
<?include 'public/include/_footer.phtml';?>