	<div id="footer">
		<div id="footer_left">
			<span class="unidade"><strong>Unidade São Paulo</strong></span>
			Av. das Flores, Nº 625 - Jd. das Flores - Osasco/SP  <?//- CEP: 06110-100?>
			<span><img src="<?=PUBLIC_PATH?>/img/icone-telefone.png"/> 11 3681-9650 | 4624-7995</span><br>
			<?/*R. Hércules Mazzoni, Nº 1353 - Centro - Indaiatuba/SP <?//- CEP: 13330-250?> <img src="<?=PUBLIC_PATH?>/img/icone-telefone.png"/> 19 2516 3447 <br>*/?>
			<span class="unidade"><strong>Unidade Campinas</strong></span>
			Av. Tenente Haraldo Egídio de Souza Santos, 67 – Jd. Chapadão – Campinas/SP <?//- CEP: 13330-250?>
			<span><img src="<?=PUBLIC_PATH?>/img/icone-telefone.png"/> 19 2516-3447 | 19 99238-8790</span><br>
			<span class="unidade"><strong>Unidade ABC</strong></span>
			R. Noel Rosa, Nº 30 - Rudge Ramos - São Bernardo do Campo/SP
			<!-- <span><img src="<?=PUBLIC_PATH?>/img/icone-telefone.png"/> 11 4942-2054 | 94766-6796</span><br> -->
			<span><img src="<?=PUBLIC_PATH?>/img/icone-telefone.png"/> 11 4942-2054 | 94711-0697</span><br>
			<span class="unidade"><strong>Unidade Tatuapé</strong></span>
			Rua Cantagalo, 1384 - Tatuapé - São Paulo/SP
			<span><img src="<?=PUBLIC_PATH?>/img/icone-telefone.png"/> 11 3360-4709 | 94071-9691</span><br>
			<span class="unidade"><strong>Unidade Santo Amaro</strong></span>
			Rua Visconde de Taunay, 879 - Santo Amaro - São Paulo/SP
			<span><img src="<?=PUBLIC_PATH?>/img/icone-telefone.png"/> 11 5641-2949 | 94778-5742</span>
		</div>
		<div id="footer_right"><a href="https://www.facebook.com/studiokfotografiaefilms" target="_blank"><img src="<?=PUBLIC_PATH?>/img/icone-facebook.jpg" onMouseover="this.src='<?=PUBLIC_PATH?>/img/icone-facebook2.jpg';" onMouseout="this.src='<?=PUBLIC_PATH?>/img/icone-facebook.jpg';"/></a><a href="https://www.instagram.com/studiokeventos" target="_blank"><img src="<?=PUBLIC_PATH?>/img/insta-black.jpg" onMouseover="this.src='<?=PUBLIC_PATH?>/img/insta-color.jpg';" onMouseout="this.src='<?=PUBLIC_PATH?>/img/insta-black.jpg';"/></a><a href="https://vimeo.com/studiokfotografiaefilms" target="_blank"><img src="<?=PUBLIC_PATH?>/img/vimeo-black.jpg" onMouseover="this.src='<?=PUBLIC_PATH?>/img/vimeo-color.jpg';" onMouseout="this.src='<?=PUBLIC_PATH?>/img/vimeo-black.jpg';"/></a></div>
	</div>

<? if(APPLICATION_ENV=='production'){ ?>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-53647511-1', 'auto');
ga('send', 'pageview');
</script>
<? } ?>

<? if(APPLICATION_ENV=='production') if($this->contato){ ?>
<!-- Facebook Pixel Code -->
<noscript>
<img height="1" width="1" src="https://www.facebook.com/tr?id=282888248781325&ev=PageView&noscript=1"/>
<img height="1" width="1" src="https://www.facebook.com/tr?id=243508816075974&ev=PageView&noscript=1"/>
<img height="1" width="1" src="https://www.facebook.com/tr?id=664018790450055&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<? } ?>

</body>
</html>