<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Studio K - Administrador</title>

<link rel="stylesheet" href="<?=PUBLIC_PATH?>/css/admin.css" type="text/css" media="screen" title="default" />
<link rel="stylesheet" href="<?=PUBLIC_PATH?>/css/jquery.Jcrop.css" type="text/css" />
<link rel="shortcut icon" href="<?=PUBLIC_PATH?>/favicon.ico" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://malsup.github.io/jquery.form.js"></script>
<script src="<?=ROOT_PATH?>/library/ckeditor/ckeditor.js"></script>
<script src="<?=PUBLIC_PATH?>/script/admin.js"></script>

</head>

<body> 

<div id="page-top-outer"> 
	<div id="page-top">
		<div id="logo"><a href=""><img src="<?=PUBLIC_PATH?>/img/logo-studiok.jpg" width="170" alt="" /></a></div>
	</div>
</div>
	
<div class="nav-outer-repeat"> 

	<div class="nav-outer"> 

		<div id="nav-right">
			<div class="nav-divider">&nbsp;</div>
			<a href="<?=ROOT_PATH?>/admin/logout/" id="logout"><img src="<?=PUBLIC_PATH?>/img/admin/shared/nav/nav_logout.gif" width="64" height="14" alt="" /></a>
		</div>

		<div class="nav">
			<div class="table">
				<ul class="select"><li><a href="<?=ROOT_PATH?>/admin/home/"><b>Home</b></a></li></ul>
				<div class="nav-divider">&nbsp;</div>
				<ul class="select"><li><a href="<?=ROOT_PATH?>/admin/empresa/"><b>Empresa</b></a></li></ul>
				<div class="nav-divider">&nbsp;</div>
				<ul class="select"><li><a href="<?=ROOT_PATH?>/admin/casamentos/"><b>Casamentos</b></a></li></ul>
				<div class="nav-divider">&nbsp;</div>
				<ul class="select"><li><a href="<?=ROOT_PATH?>/admin/albuns/"><b>Albuns</b></a></li></ul>
				<div class="nav-divider">&nbsp;</div>
				<ul class="select"><li><a href="<?=ROOT_PATH?>/admin/debutantes/"><b>Debutantes</b></a></li></ul>
				<div class="nav-divider">&nbsp;</div>
				<ul class="select"><li><a href="<?=ROOT_PATH?>/admin/films/"><b>Films</b></a></li></ul>
				<!-- <div class="nav-divider">&nbsp;</div> -->
				<!-- <ul class="select"><li><a href="<?=ROOT_PATH?>/admin/depoimentos/"><b>Depoimentos</b></a></li></ul> -->
				<div class="nav-divider">&nbsp;</div>
				<ul class="select"><li><a href="<?=ROOT_PATH?>/admin/prewedding/"><b>Pre-wedding</b></a></li></ul>
				<div class="nav-divider">&nbsp;</div>
				<ul class="select"><li><a href="<?=ROOT_PATH?>/admin/contato/"><b>Contato</b></a></li></ul>
				<div class="nav-divider">&nbsp;</div>
				<ul class="select"><li><a href="<?=ROOT_PATH?>/admin/usuarios/"><b>Usuarios</b></a></li></ul>
				<div class="nav-divider">&nbsp;</div>
			</div>
		</div>

	</div>
</div>