<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Studio K - Produções e Eventos</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="<?=PUBLIC_PATH?>/css/style.css?<?=filemtime(APPLICATION_PATH.'/..'.PUBLIC_PATH.'/css/style.css')?>">
<link rel="stylesheet" type="text/css" href="<?=PUBLIC_PATH?>/css/responsive.css?<?=filemtime(APPLICATION_PATH.'/..'.PUBLIC_PATH.'/css/responsive.css')?>">
<link rel="favicon" href="<?=URL?>/favicon.ico">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="<?=PUBLIC_PATH?>/script/cycle.js"></script>
<script type="text/javascript" src="<?=PUBLIC_PATH?>/script/script.js"></script>
<script>
var ROOT_PATH = "<?=ROOT_PATH?>";
var PUBLIC_PATH = "<?=PUBLIC_PATH?>";
var APPLICATION_ENV = "<?=APPLICATION_ENV?>";
</script>

<? if(APPLICATION_ENV=='production'){ ?>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '841998562608941');
fbq('track', "PageView");
</script>
<noscript>
<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=841998562608941&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->
<? } ?>

</head>
<body>
	<div id="header">
		<div class="menu_desktop">
			<ul id="menu_header_left">
				<a href="<?=ROOT_PATH?>/"><li <? if($this->url == ""){echo "class='sel'";}?>>Home</li></a>
				<a href="<?=ROOT_PATH?>/empresa"><li <? if($this->url == "empresa"){echo "class='sel'";}?>>Empresa</li></a>
				<a href="<?=ROOT_PATH?>/casamentos"><li <? if($this->url == "casamentos"){echo "class='sel'";}?>>Casamentos</li></a>
				<a href="<?=ROOT_PATH?>/albuns"><li <? if($this->url == "albuns"){echo "class='sel'";}?>>Álbuns</li></a>
			</ul>
			<img src="<?=PUBLIC_PATH?>/img/logo-studiok.jpg" width="250" />
			<ul id="menu_header_right">
				<a href="<?=ROOT_PATH?>/debutantes"><li <? if($this->url == "debutantes"){echo "class='sel'";}?>>Debutantes</li></a>
				<a href="<?=ROOT_PATH?>/films"><li <? if($this->url == "films"){echo "class='sel'";}?>>Films</li></a>
				<!-- <a href="<?=ROOT_PATH?>/depoimentos"><li <? if($this->url == "depoimentos"){echo "class='sel'";}?>>Depoimentos</li></a> -->
				<a href="<?=ROOT_PATH?>/prewedding"><li <? if($this->url == "prewedding"){echo "class='sel'";}?>>Pre-wedding</li></a>
				<a href="<?=ROOT_PATH?>/contato"><li <? if($this->url == "contato"){echo "class='sel'";}?>>Contato</li></a>
			</ul>
		</div>
		<div class="menu_mobile">
			<img src="<?=PUBLIC_PATH?>/img/logo-studiok.jpg" />
			<button id="mobile-toggle" type="button" role="button">
                <span class="lines"></span>
            </button>
		</div>
	</div>

	<nav id="mobile">
		<a href="<?=ROOT_PATH?>/" <? if($this->url == ""){echo "class='sel'";}?>>Home</a>
		<a href="<?=ROOT_PATH?>/empresa" <? if($this->url == "empresa"){echo "class='sel'";}?>>Empresa</a>
		<a href="<?=ROOT_PATH?>/casamentos" <? if($this->url == "casamentos"){echo "class='sel'";}?>>Casamentos</a>
		<a href="<?=ROOT_PATH?>/albuns" <? if($this->url == "albuns"){echo "class='sel'";}?>>Álbuns</a>
		<a href="<?=ROOT_PATH?>/debutantes" <? if($this->url == "debutantes"){echo "class='sel'";}?>>Debutantes</a>
		<a href="<?=ROOT_PATH?>/films" <? if($this->url == "films"){echo "class='sel'";}?>>Films</a>
		<!-- <a href="<?=ROOT_PATH?>/depoimentos" <? if($this->url == "depoimentos"){echo "class='sel'";}?>>Depoimentos</a> -->
		<a href="<?=ROOT_PATH?>/prewedding" <? if($this->url == "prewedding"){echo "class='sel'";}?>>Pre-wedding</a>
		<a href="<?=ROOT_PATH?>/contato" <? if($this->url == "contato"){echo "class='sel'";}?>>Contato</a>
	</nav>
	<script>
		$('#mobile-toggle').click(function() {
			$(this).toggleClass('close');
			$('nav#mobile').slideToggle();
		});
	</script>