/*** css reset ***/

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Verdana, sans-serif;
}
ul,ol{
	list-style: none;
}

@font-face {
font-family: 'Hammersmith One';
src:url('../fonts/hammersmithone-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/hammersmithone-webfont.svg#bignoodletitlingregular') format('svg'),
url('../fonts/hammersmithone-webfont.woff') format('woff'),
url('../fonts/hammersmithone-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

/*** Header ***/

#header{
	width: 1024px;
	margin: 0 auto;
	height: 130px;
}
#menu_header_left li ,#menu_header_right li{
	float: left;
	margin: 58px 15px 0;
	height: 20px; 
	padding: 5px 8px 5px;
	font-size: 15px;
	color: #000;
	text-decoration: none;
	font-family: 'Hammersmith One', sans-serif;
	font-weight: 400;
}
#menu_header_right{
	float: right;
}
#menu_header_left li:hover ,#menu_header_right li:hover, #menu_header_left li.sel, #menu_header_right li.sel{
	background: #000;
	color: #fff;
}

#menu_header_left li:first-child{
	margin-left: 0;
}
#menu_header_right li:last-child{
	margin-right: 0;
}
#header img{
	float: left;
	margin: 35px 0 12px 18px;
}

/*** Content ***/


#content{
	width: 1024px;
	margin: 0 auto;
}
#slider_home, #slider_home ul li{
	width: 1024px;
	height: 484px;
	float: left;
}
#controls{ 
	margin: -8px  0 0 466px;
	float: left;
}
#controls li{
	border: 1px #000 solid;
	height: 6px;
	width: 6px;
	float: left;
	margin: 0 4px;
	overflow: hidden;
}
#controls li.current{
	background: #000;
}

#controls li a{
	padding: 50px;
}

/*** footer ***/

#footer{
	width: 1024px;
	margin:0 auto;
}
#footer_left{
	float: left;
	font-size: 13px;
	margin: 20px 0 10px;
}
#footer_left img{
	height: 13px;
	margin-left: 20px;
}

#footer_right{
	float: right;
	margin-top: 31px;
}
#footer_right img{
	margin-left: 9px;
}

/*** interna ***/

#content_interna{
	width: 1024px;
	float: left;
	padding: 45px 0;
	border-bottom: 1px #000 solid;
}
#content_interna h2{
	font-family: 'Hammersmith One', sans-serif;
	width: 400px;
	font-size: 25px; /* 31px */
	font-weight: normal;
	margin-bottom: 30px;
	float: left;
}

/*** empresa ***/

#content_interna_empresa_left{
	width: 580px;
	float: left;
}
#content_interna_empresa_left h2{
	font-family: 'Hammersmith One', sans-serif;
	width: 580px;
	font-size: 31px;
	font-weight: normal;
	margin-bottom: 30px;
}
#content_interna_empresa_left p{
	font-size: 15px;
	margin-top: 30px;
}
#content_interna_empresa_right{
	width: 310px;
	float:right;
}
#div_nome_menu_empresa{
	width: 250px;
	float: left;
	background: #000;
	font-size: 22px;
	color: #fff;
	font-family: 'Hammersmith One', sans-serif;
	padding: 10px 30px 5px;
}
#content_interna_empresa_right ul{
	float: left;
	margin-top: 25px;
}
#content_interna_empresa_right ul li{
	width: 310px;
	background: url('../img/divisor_menu_empresa.jpg') 0 18px  no-repeat;
	line-height: 40px;
}
#content_interna_empresa_right ul li a{
	font-size: 25px;
	color: #000;
	text-decoration: none;
	padding-left: 30px;
}

#content_interna_empresa_right ul li:hover{
	background: #000 url('../img/divisor_menu_empresa_over.jpg') 0 18px  no-repeat;
}
#content_interna_empresa_right ul li:hover a , #content_interna_empresa_right ul li.sel a{
	color: #fff;
}


/** casamento **/

#content_interna_casamento{
	width:1098px;
	float: left;
	margin-left: -37px;
}
#content_interna_casamento p{
	margin-left: 37px;
}
.div_casamento{
	float: left;
	margin: 0 37px 45px;
	width: 290px;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
}
.div_casamento a{
	color: #000;
	text-decoration: none;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
}
.div_casamento img{
	margin-bottom:15px; 
}
.div_casamento a .over{
	background: #000;
	opacity:0.60;
	-moz-opacity: 0.60;
	filter: alpha(opacity=60);
	position: absolute;
	width: 290px;
	height: 90px;
	display: none;
}
.div_casamento a:hover .over{
	display: block;
}
#galeria-casamento{
	width: 1024px;
	float: left;
}
#galeria-casamento-center{
	width: 900px;
	height: 630px;
	margin:0 0 30px 62px;
	float: left;
	text-align: center;
}
#galeria-casamento-center #slider,#galeria-casamento-center #slider ul li{
	width: 900px;
	height: 600px;
	min-height: 600px;
}

#galeria-casamento-center #slider,#galeria-casamento-center #slider ul li span.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#galeria-casamento-center #slider,#galeria-casamento-center #slider ul li img {
    vertical-align: middle;
}
#galeria-casamento-center img{
	margin-bottom: 10px;
}
#galeria-casamento-center_nome{
	float: left;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	line-height: 30px;	
	margin-top: 30px;
}
#galeria-casamento-center_voltar{
	float: right;
	background: #000;
	padding: 5px 24px;
	margin-top: 30px;
}
#galeria-casamento-center_voltar a{
	font-family: 'Hammersmith One', sans-serif;
	color: #fff;
	text-decoration: none;
}

#galeria-casamento-center #prevBtn a{
	background: url(../img/botao-esquerdo.png);
	height: 95px;
	width: 35px;
	float: left;
	margin: -349px 0 0 -60px;
}
@-moz-document url-prefix() { 
  	#galeria-casamento-center #prevBtn a{
		background: url(../img/botao-esquerdo.png);
		height: 95px;
		width: 35px;
		float: left;
		margin: 250px 0 0 -60px;
	}
}
#galeria-casamento-center #nextBtn a{
	background: url(../img/botao-direito.png);
	height: 95px;
	width: 35px;
	float: left;
	margin: -349px 0 0 928px;
}

/*** albuns ***/

#content_interna_albuns{
	width: 1063px;
	margin-left: -30px;
	float: left;
}
#content_interna_albuns p{
	margin-left: 30px;
}
.div_albuns{
	width: 300px;
	float: left;
	margin:0 20px 0 19px;
	font-size: 15px;
	margin-bottom: 50px;
}
.div_albuns.prewedding{
	width: 100% !important;
	margin:0 0px 0 0px !important;
	margin-bottom: 0px !important;
}
.div_albuns img{
	margin-bottom: 15px;
}
.div_albuns.prewedding img{
	margin-bottom: 0px;
}
.div_albuns a{
	color: #000;
	text-decoration: none;
	font-family: 'Hammersmith One', sans-serif;
	position: relative;
	overflow: hidden;
	display: inline-block;
}
.div_albuns a .over{
	background: #000;
	opacity:0.60;
	-moz-opacity: 0.60;
	filter: alpha(opacity=60);
	position: absolute;
	width: 300px;
	height: 128px;
	display: none;
}
.div_albuns.prewedding a .over{
	width: 100%;
	height: 1000px;
}
.div_albuns a:hover .over{
	display: block;
}

#fundo_galeria_albuns{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
	position: fixed;
}

#galeria_albuns {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1024px;
	height: 600px;
	margin: -300px 0 0 -512px;
	z-index:1002;
	overflow: hidden;
	position: fixed;
}

#galeria_albuns #slider{
	width: 900px;
	height: 600px;
	min-height: 600px;
	margin: 0 62px;
}
#galeria_albuns #slider ul li{
	width: 900px;
	height: 600px;
	text-align: center;
}
#galeria_albuns #slider ul li span.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#galeria_albuns #slider ul li img {
    vertical-align: middle;
}
#galeria_albuns #prevBtn a{
	background: url(../img/botao-esquerdo-branco.png) no-repeat;
	height: 95px;
	width: 35px;
	float: left;
	margin: -350px 20px 0 0;
}
#galeria_albuns #nextBtn a{
	background: url(../img/botao-direito-branco.png) no-repeat;
	height: 95px;
	width: 35px;
	float: right;
	margin: -350px 0 0 0;
}
#fecha_galeria{
	background: url(../img/fecha.png);
	height: 39px;
	width: 39px;
	float: right;
}

/*** films ***/

#content_interna_films{
	width: 1024px;
	float: left;
}

#content_interna_films_left{
	width: 580px;
	float: left;
}
#content_interna_films_left img{
	max-width: 100%;
}
#content_interna_films_left h2{
	font-family: 'Hammersmith One', sans-serif;
	width: 580px;
	font-size: 31px;
	font-weight: normal;
	margin-bottom: 30px;
}
#content_interna_films_left p{
	font-size: 15px;
	margin-top: 30px;
}
#content_interna_films_right{
	width: 310px;
	float:right;
}
#div_nome_menu_films{
	width: 310px;
	float: left;
	color: #fff;
	font-family: 'Hammersmith One', sans-serif;
	padding: 0px 0 5px;
}
#div_nome_menu_films ul{
	width: 310px;
	border-bottom: 1px #000 solid;
	margin-bottom: 20px;
}
#content_interna_films_right ul{
	float: left;
}
#content_interna_films_right ul li{
	background: url('../img/divisor_menu_empresa.jpg') 14px 18px  no-repeat;
	line-height: 40px;
	width: 310px;
}
#content_interna_films_right ul li a{
	font-size: 16px;
	color: #000;
	text-decoration: none;
	padding-left: 33px;
}
#content_interna_films_right ul li:hover{
	background: #000 url('../img/divisor_menu_empresa_over.jpg') 14px 18px  no-repeat;
}
#content_interna_films_right ul li:hover a , #content_interna_films_right ul li.sel a{
	color: #fff;
}
#content_interna_films_right ul li.sel{
	background: #000 url('../img/icone-triangulo.png') 15px 18px  no-repeat;
}
#div_nome_menu_films ul li{
	width: 135px;
	float: left;
	background: #fff ;
	padding: 5px 10px;
	color: #000 ;
}
#div_nome_menu_films ul li.sel{
	background: #000;
	color: #fff;
}
#div_nome_menu_films ul li a{
	font-size: 22px;
	padding-left: 0;
}
#div_nome_menu_films ul li:hover{
	background: #000;
}
#menu_films_casamento{
	/*display: block;*/
}
#menu_films_debutantes{
	display: none;
}
#menu_films_casamento.prewedding{
	display: none;
}
#menu_films_debutantes.prewedding{
	display: block;
}
/** depoimentos **/

#galeria-depoimento{
	width: 1024px;
	height: 740px;
	margin: 0 auto; 
	overflow-y: hidden;
}

#galeria-depoimento #slider li{
	width: 1024px;
	height: 740px;	
}
#galeria-depoimento #slider {
	height: 740px !important;
}
#galeria-depoimento #prevBtn a{
	background: url(../img/botao-esquerdo.png);
	height: 95px;
	width: 35px;
	float: left;
	margin: -450px 0 0;
}
#galeria-depoimento #nextBtn a{
	background: url(../img/botao-direito.png);
	height: 95px;
	width: 35px;
	float: right;
	margin: -450px 0 0 0;
}
#galeria-depoimento-center{
	width: 760px;
	height: 285px;
	text-align: center;
	padding: 0 132px;

}
#galeria-depoimento-center p{
	font-size: 18px;
	margin-top: 40px;
}
#depoimento_assinatura{
	font-family: 'Hammersmith One', sans-serif;
	font-size: 32px;
	margin-top: 40px;
	text-align: right;	
}

/** contato **/
#content_contato{
	width: 1024px;
	float: left;
	position: relative;
	height: 780px;
	margin-left: -10px;
}
#content_contato_left{
	float: left;
	/*width: 380px;*/
	width: auto;
	overflow: hidden;
}
#content_contato_left .contato_cidade{
	cursor: pointer;
	width: 380px;
	float: left;
	margin-right: 120px;
}
#content_contato_left img,
#content_contato_right img{
	margin-bottom: 20px;
	width: 100%;
}
#content_contato_left h3{
	font-size: 15px;
	margin-bottom: 165px;
	font-weight: normal;
}
#content_contato_left h4{
	font-weight: normal;
	font-size: 21px;
	padding-left: 35px;
	height: 30px;
	background: url(../img/icone-telefone.png) 0 6px no-repeat;
}
#content_contato_left h4 b{
	font-weight: normal;
	font-size: 15px;
}
#content_contato_left h4.unidade{
	background-image: none;
	padding-left: 0;
}
#content_contato_left h4.unidade.tatuape, 
#content_contato_left h4.unidade.stoamaro, 
#content_contato_left h4.unidade.indaiatuba{
	margin-top: 20px;
}
#content_contato_left h5{
	font-weight: normal;
	font-size: 15px;
	padding-left: 35px;
	height: 30px;
	background: url(../img/icone-email.png) no-repeat;
}
#content_contato_left h5.tel{
	background: url(../img/icone-telefone.png) no-repeat;
	font-weight: bold;
}
#content_contato_left h6{
	font-weight: normal;
	font-size: 15px;
	padding-left: 35px;
	height: 30px;
	line-height: 20px;
	background: url(../img/icone-local.png) no-repeat;
}
.bt_contato {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
	text-align: center;
	text-decoration: none;
	margin-top: 20px;
	text-transform: uppercase;
	background: #fff url('../img/icone-formulario.jpg') no-repeat 65px center;
}
#content_contato_right{
	/*float: right;*/
	/*float: left;*/
	position: absolute; bottom: 00px; right: 67px;
	width: 450px;
	padding-right: 8px;
	margin-top: -70px;
	cursor: pointer;
}
.formulario_contato{
	display: none;
}
#content_contato_left .formulario_contato{
	margin-top: 20px;
}
.input_contato{
	width: 434px;
	height: 35px;
	background: #fff;
	border: 1px #000 solid;
	padding-left:14px;
	color: #000;
	margin-bottom: 5px;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
}
select.input_contato {
	display: none;
	width: 450px;
}
.textarea_contato{
	width: 420px;
	height: 126px;
	background: #fff;
	border: 1px #000 solid;
	padding:14px;
	color: #000;
	margin-bottom: 5px;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
}
.submit_contato{
	width: 450px;
	height: 35px;
	background: #000;
	padding-left:14px;
	color: #fff;
	border: 1px #000 solid;
	text-align: center;
	margin-bottom: 5px;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
}

/*** Lightbox ***/

#fundo_ligthbox{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
	position: fixed;
}
#lightbox {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 300px;
	margin: -150px 0 0 -250px;
	padding: 16px;
	border: 5px solid #d2d2d2;
	background-color: white;
	z-index:1002;
	overflow: auto;
	position: fixed;
	text-align: center;
}

#lightbox a{
	width: 100px;
	height: 46px;
	line-height: 46px;
	font-size: 16px;
	font-weight: 700;
	background: #000;
	color: #fff;
	cursor: pointer;
	margin: 10px 200px;
	float: left;
	text-decoration: none;
	font-family: 'Hammersmith One', sans-serif;
}