	<script type="text/javascript">
		$(document).ready(function(){
			$("#slider_novo").cycle({
				fx: 'scrollHorz',
				slides: '>.slide',
				next: '.cycle-next',
				prev: '.cycle-prev',
				timeout: 0
			});

			$("#galeria_albuns").click(function(event){
				if ($(event.target).parents('.slider_wrapper').length) return;
				$( "#galeria_albuns" ).css({'display':'none'});
				$( "#fundo_galeria_albuns" ).css({'display':'none'});
			});

			$("#fecha_galeria").click(function(){
				$( "#galeria_albuns" ).css({'display':'none'});
				$( "#fundo_galeria_albuns" ).css({'display':'none'});
			});
		});
	</script>

	<div class="slider_wrapper slider_lightbox">
		<div id="slider_novo">
			<?foreach ($this->result as $campo => $valor) {?>
				<div class="slide" style="background-image:url('<?=PUBLIC_PATH?>/upload/prewedding/<?=$valor['caminho_img']?>')"></div>
			<?}?>

		</div>
		<a href="#" class="cycle-nav cycle-prev">prev</a>
		<a href="#" class="cycle-nav cycle-next">next</a>
		<a href="javascript:;" id="fecha_galeria"></a>
	</div>
