<?include 'public/include/_header.phtml';?>
<?include 'library/Func.php';?>
<script>
function abrirgaleria(id){
	$.ajax({
		type: "GET",
		url: "<?=ROOT_PATH?>/prewedding/galeria/id/"+id,
		success: function( dados ) {
			$( "#galeria_albuns" ).css({'display':'block'});
			$( "#fundo_galeria_albuns" ).css({'display':'block'});
			$( "#galeria_albuns" ).html( dados );
	    }
	});
}
</script>
	<div id="galeria_albuns"></div>
	<div id="fundo_galeria_albuns"></div>
	<div id="content">
		<div id="content_interna">
			<h2>Acompanhe algumas fotos e <br>vídeos dos nossos pré-weddings</h2>
			<div id="content_interna_films">
				<?if ($this->registros == 0){?>
					Nenhum video cadastrado.
				<?}else{?>
					<div id="content_interna_films_left">
						<?foreach ($this->resultprimeiro as $campo => $valor) {?>
							<? // mostra primeiro imagem ?>
							<input type="hidden" value="<?=$valor['id']?>" id="id_video"/>
							<div class="div_albuns prewedding"><a href="javascript:;" onClick="abrirgaleria(<?=$valor['id']?>)"><div class="over"></div><img src="<?=PUBLIC_PATH?>/upload/prewedding/<?=$valor['caminho_imagem']?>"></a></div>
							<?/*<img src="<?=PUBLIC_PATH.'/upload/prewedding/'.$valor['caminho_imagem']?>" alt="<?=$valor['nome']?>" />*/?>

							<? // mostra primeiro video ?>
							<?/*<? $v = _checkVideoStr($valor['caminho_video']); ?>
							<? $video = str_replace(array('http:','https:'), '', $v->embedUrl); ?>
							<input type="hidden" value="<?=$valor['id']?>" id="id_video"/>
							<?/*<object width="640" height="390"><param name="movie" value="//www.youtube.com/v/<?=$valor['caminho_video']?>"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/<?=$valor['caminho_video']?>?hl=pt_BR&amp;version=3" type="application/x-shockwave-flash" width="640" height="390" allowscriptaccess="always" allowfullscreen="true"></embed></object>//?>
							<div class="video"><iframe 
								width="640" 
								height="390" 
								src="<?=$video?>" 
								frameborder="0" 
								allowfullscreen></iframe></div>*/?>
						<?}?>
					</div>
					<div id="content_interna_films_right">
						<div id="div_nome_menu_films">
							<ul>
								<li id="link_mostra_debutantes" class="sel"><a href="javascript:;" onClick="mostradebutantes();">Fotos</a></li>
								<li id="link_mostra_casamento"><a href="javascript:;" onClick="mostracasamentos();">Videos</a></li>
							</ul>
						</div>
						<ul id="menu_films_casamento" class="prewedding">
							<?foreach ($this->result_tipo1 as $campo => $valor) {?>
								<? $v = _checkVideoStr($valor['caminho_video']); ?>
								<? $video = str_replace(array('http:','https:'), '', $v->embedUrl); ?>
								<li id="menu_films_casamento_<?=$valor['id']?>" <?if($this->id_atual == $valor['id']){echo "class='sel'";}?>><a href="javascript:;" onClick="exibefilme('<?=$video?>',<?=$valor['id']?>)"><?=$valor['nome']?></a></li>
							<?}?>
						</ul>
						<ul id="menu_films_debutantes" class="prewedding">
							<?foreach ($this->result_tipo2 as $campo => $valor) {?>
								<li id="menu_films_casamento_<?=$valor['id']?>" <?if($this->id_atual == $valor['id']){echo "class='sel'";}?>><a href="javascript:;" onClick="exibeimagem('<?=$valor['caminho_imagem']?>',<?=$valor['id']?>,1)"><?=$valor['nome']?></a></li>
							<?}?>
						</ul>

					</div>
				<?}?>
			</div>
		</div>
	</div>
<?include 'public/include/_footer.phtml';?>