        <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
            <tr>
            <td>
                <a href="<?php echo $this->url(array('pagina' => $this->first)); ?>" class="page-far-left"></a>
                <a href="<?php echo $this->url(array('pagina' => $this->previous)); ?>" class="page-left"></a>
                <div id="page-info">
                    <?php foreach ($this->pagesInRange as $page): ?>
                        <?php if ($page == $this->current): ?>
                            <strong><?php echo $page; ?></strong> 
                        <?php else: ?>
                            <a href="<?php echo $this->url(array('pagina' => $page)); ?>"><?php echo $page; ?></a> 
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>
                <a href="<?php echo $this->url(array('pagina' => $this->next)); ?>" class="page-right"></a>
                <a href="<?php echo $this->url(array('pagina' => $this->last)); ?>" class="page-far-right"></a>
            </td>
            </tr>
        </table>