#content_interna_albuns
    +below(tablet)
        width 100%
        margin-left 0
        clearfix()
        font-size 0
        .div_albuns
            display inline-block
            float left
            width 30%
            margin 0
            margin-right 5%
            margin-bottom 5%
            &:nth-child(3n)
                margin-right 0
            a:hover .over
                display none
            img
                width 100%
                height auto
    +below(mobile)
        .div_albuns
            width 47.5%
            &:nth-child(3n)
                margin-right 5%
            &:nth-child(2n)
                margin-right 0

#galeria_albuns
    height 100%
    width 100%
    margin 0
    top 0
    left 0

.slider_lightbox
    position relative
    &.slider_wrapper
        width 900px
        height 364px
        position absolute
        top 50%
        left 50%
        margin-left -450px
        margin-top -182px
    #slider_novo
        height 100%
        width 100%
    .cycle-prev
        left -62px !important
        background-image url('../img/botao-esquerdo-branco.png') !important
    .cycle-next
        right -62px !important
        background-image url('../img/botao-direito-branco.png') !important
    #fecha_galeria
        width 39px
        width 39px
        position absolute
        top -118px
        right -62px
        background url('../img/fecha.png') no-repeat center
    +below(tablet)
        &.slider_wrapper
            width 90%
            height auto
            top 50%
            left 50%
            margin 0
            transform translateX(-50%) translateY(-50%)
        #slider_novo
            padding-bottom 40.333%
        #fecha_galeria
            right -8px
            top -55px
        .cycle-nav
            background-color rgba(#000, .3) !important
        .cycle-prev
            left 0 !important
        .cycle-next
            right 0 !important