#content_interna_casamento
    +below(tablet)
        width 100%
        margin-left 0
        clearfix()
        font-size 0
        .div_casamento
            display inline-block
            float left
            width 30%
            margin 0
            margin-right 5%
            margin-bottom 5%
            &:nth-child(3n)
                margin-right 0
            a:hover .over
                display none
            img
                width 100%
                height auto
    +below(mobile)
        .div_casamento
            width 47.5%
            &:nth-child(3n)
                margin-right 5%
            &:nth-child(2n)
                margin-right 0

#galeria-casamento-center
    height auto
    margin-bottom 0
    +below(tablet)
        width 100%
        margin 4% 0 0
        #galeria-casamento-center_nome
        #galeria-casamento-center_voltar
            margin 0
    +below(mobile)
        text-align center
        #galeria-casamento-center_voltar
            float left
            clear both

.slider_wrapper
    position relative
    width 100%

#galeria-casamento
    +below(tablet)
        width 100%

#slider_novo
    width 900px
    height 600px
    margin 0 auto
    position relative
    .slide
        width 100%
        height 100%
        background-position center
        background-repeat no-repeat
    +below(tablet)
        width 100%
        height 0
        padding-bottom 66.6667%
        .slide
            background-size auto 100%

.cycle-nav
    position absolute
    height 100%
    top 0
    display block
    text-indent -9999px
    z-index 101
    width 35px
    &.cycle-prev
        left 0
        background-image url('../img/botao-esquerdo.png')
        background-repeat no-repeat
        background-position center
    &.cycle-next
        right 0
        background-image url('../img/botao-direito.png')
        background-repeat no-repeat
        background-position center
    +below(tablet)
        width 35px
        background-size 70% auto
        background-color rgba(#fff, .3)
    +below(mobile)
        width 30px
        background-size 60% auto
