.bt_contato
    transition background-color .3s, color .3s
    &.active
        background-color #000
        color #fff

#content_contato
    +below(tablet)
        width 100%
        height auto
        margin-left 0
        #content_contato_left
            width 100%
            float left
            margin-bottom 2.5%
            .contato_cidade
                width 100%
                margin-right 0
                margin-bottom 15px
                *
                    height auto
                    line-height 2
                a
                    margin-top 5px
                    background-position 18px center
                h4.unidade.indaiatuba
                    margin-top 0
        #content_contato_right
            width 100%
            float left
            position relative
            right auto
            bottom auto
            margin-top 0
            padding-right 0
            input
            textarea
                width 100%
    +below(mobile)
        h4
            font-size 18px
        a
            padding 4px
            font-size 15px