+below(tablet)
    #content_interna_empresa_left
        width 75%
        float left
        padding-bottom 2.5%
        *, h2
            width 100%
        h2
            font-size 25px
            margin-bottom 20px
        p
            margin-top 20px
        .video
            width 100%
            height 0
            padding-bottom 56.25%
            position relative
            iframe
                position absolute
                top 0
                left 0
                width 100%
                height 100%
    #content_interna_empresa_right
        width 20%
        float right
        *
            width auto
        #div_nome_menu_empresa
            width 100%
            font-size 18px
            padding 15px
        ul
            margin-top 10px
            li
                width 100%
                line-height 1.4
                background-position center left
                a
                    font-size 18px
                    padding-left 18px

+below(mobile)
    #content_interna_empresa_left
        width 100%
    #content_interna_empresa_right
        display none