#content_interna_films
    +below(tablet)
        width 100%
        #content_interna_films_left
            width 65%
            .video
                width 100%
                height 0
                padding-bottom 56.25%
                position relative
                iframe
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
            img
                width 100%
                height auto
                display block
        #content_interna_films_right
            width 27.5%
            float right
            #div_nome_menu_films
                width 100%
                ul
                    width 100%
                    margin-bottom 0
                    li
                        width 100%
                        padding 10px
                        line-height 1.5
                        a
                            font-size 18px
            #menu_films_casamento
            #menu_films_debutantes
                width 100%
                li
                    width 100%
                    line-height 1.3
                    padding 10px
                    background-position 10px center
                    a
                        font-size 14px
                        display block
                        padding-left 20px
    +below(mobile)
        #content_interna_films_left
            width 100%
            margin-bottom 2.5%
        #content_interna_films_right
            width 100%
            float left