#slider_home
    position relative
    padding-bottom 15px
    margin-bottom 15px
    a
        display block
        width 100%
        height auto
    .pager
        position absolute
        bottom 0
        left 0
        width 100%
        text-align center
        z-index 101
        a
            display inline-block
            width auto
            border 1px solid #000
            height 6px
            width 6px
            margin 0 4px
            text-indent -9999px
            transition background .3s
            &.cycle-pager-active
                background #000
    +below(tablet)
        width 100%
        height auto
        margin-bottom 2.5%
        img
            width 100%
            height auto