<?include 'public/include/_header.phtml';?>
	<script type="text/javascript">
		$(document).ready(function(){	
			$("#slider").easySlider({
				speed: 500,
				prevId: 		'prevBtn',
				prevText: 		'',
				nextId: 		'nextBtn',	
				nextText: 		'',
				continuous:		true, 
			});
		});	
	</script>

	<div id="content">
		<div id="content_interna">
			<h2>Veja alguns depoimentos<br>dos nossos clientes</h2>
			<div id="galeria-depoimento">
				<?if ($this->registros == 0){?>
					Nenhum depoimento cadastrado.
				<?}else{?>
					<?foreach ($this->result as $campo => $valor) {?>				
						<div id="slider">
							<ul>				
								<?foreach ($this->result as $campo => $valor) {?>
									<li>
										<div id="galeria-depoimento-center">
											<?=$valor['texto']?>
											<div id="depoimento_assinatura"><?=$valor['assinatura']?></div>
										</div>
									</li>
								<?}?>			
							</ul>
						</div>					
					<?}?>
				<?}?>
			</div>
		</div>
	</div>
<?include 'public/include/_footer.phtml';?>