<?include 'public/include/_header.phtml';?>
	<div id="content">
		<div id="content_interna">
			<h2>Memórias de um sonho realizado.</h2>
			<div id="content_interna_casamento">
				<?if ($this->registros == 0){?>
					<p>Nenhuma galeria cadastrada.</p>
				<?}else{?>
					<?foreach ($this->result as $campo => $valor) {?>
						<div class="div_casamento"><a href="<?=ROOT_PATH?>/casamentos/galeria/id/<?=$valor['id']?>"><div class="over"></div><img src="<?=PUBLIC_PATH?>/upload/casamento/tmb_<?=$valor['caminho_img']?>"><?=$valor['nome']?></a></div>
					<?}?>
				<?}?>
			</div>
		</div>
		
	</div>
<?include 'public/include/_footer.phtml';?>