<?include 'public/include/_header.phtml';?>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#slider_novo").cycle({
				fx: 'scrollHorz',
				slides: '>.slide',
				next: '.cycle-next',
				prev: '.cycle-prev',
				timeout: 0
			});
		});
	</script>

	<div id="content">
		<div id="content_interna">
			<div id="galeria-casamento">
				<div class="slider_wrapper">
					<div id="slider_novo">
						<?foreach ($this->result as $campo => $valor) {?>
							<div class="slide" style="background-image:url('<?=PUBLIC_PATH?>/upload/debutantes/<?=$valor['caminho_img']?>')"></div>
						<?}?>

					</div>
					<a href="#" class="cycle-nav cycle-prev">prev</a>
					<a href="#" class="cycle-nav cycle-next">next</a>
				</div>

				<div id="galeria-casamento-center">
					<div id="galeria-casamento-center_nome">
						<?foreach ($this->result2 as $campo => $valor) {?>
							<?=$valor['nome']?>
						<?}?>
					</div>

					<div id="galeria-casamento-center_voltar"><a href="<?=ROOT_PATH?>/casamentos">VOLTAR</a></div>
				</div>
			</div>
		</div>
	</div>
<?include 'public/include/_footer.phtml';?>