<?include 'public/include/_header.phtml';?>
	<div id="content">
		<div id="content_interna">
			<?/*<h2>Festas de debutantes<br>com o Studio K</h2>*/?>
			<h2>Parabéns linda menina que sonha que dança que reluz mais que a lua e ofusca a mais florida primavera com o seu lindo sorriso.</h2>
			<div id="content_interna_casamento">
				<?if ($this->registros == 0){?>
					<p>Nenhuma galeria cadastrada.</p>
				<?}else{?>
					<?foreach ($this->result as $campo => $valor) {?>
						<div class="div_casamento"><a href="<?=ROOT_PATH?>/debutantes/galeria/id/<?=$valor['id']?>"><div class="over"></div><img src="<?=PUBLIC_PATH?>/upload/debutantes/tmb_<?=$valor['caminho_img']?>"><?=$valor['nome']?></a></div>
					<?}?>
				<?}?>
			</div>
		</div>
	</div>
<?include 'public/include/_footer.phtml';?>