<?include 'public/include/_header.phtml';?>
<?include 'library/Func.php';?>
	<div id="content">
		<div id="content_interna">
			<?foreach ($this->result as $campo => $valor) {?>
			<div id="content_interna_empresa_left">
				<h2>O Studio K é uma sólida empresa que desde 1995 atua na área de Foto e Films em eventos sociais.</h2>
				<?if($valor['video']!=''){?>
					<? $v = _checkVideoStr($valor['video']); ?>
					<? $video = str_replace(array('http:','https:'), '', $v->embedUrl); ?>
					<?/*<object width="640" height="390"><param name="movie" value="//www.youtube.com/v/<?=$valor['video']?>"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/<?=$valor['video']?>?hl=pt_BR&amp;version=3" type="application/x-shockwave-flash" width="640" height="390" allowscriptaccess="always" allowfullscreen="true"></embed></object>*/?>
					<div class="video"><iframe 
						width="640" 
						height="390" 
						src="<?=$video?>" 
						frameborder="0" 
						allowfullscreen></iframe></div>
				<?}?>
				<?=$valor['texto']?>
			</div>
			<?}?>
			<div id="content_interna_empresa_right">
				<div id="div_nome_menu_empresa">Conheça<br>nosso trabalho</div>
				<ul>
					<li><a href="<?=ROOT_PATH?>/casamentos">Casamentos</a></li>
					<li><a href="<?=ROOT_PATH?>/debutantes">Debutantes</a></li>
					<li><a href="<?=ROOT_PATH?>/albuns">Albuns</a></li>
					<li><a href="<?=ROOT_PATH?>/films">Films</a></li>
				</ul>
			</div>
			
		</div>
	</div>
<?include 'public/include/_footer.phtml';?>