#content
    +below(tablet)
        width 90%
        clearfix()
#content_interna
    +below(tablet)
        width 100%
        padding 5% 0
        clearfix()
        > h2
            font-size 20px
            margin-bottom 5%
            width 70%
            +below(mobile)
                width 100%
                font-size 18px