#footer
    +below(tablet)
        clearfix()
        width 90%
        padding-bottom 5%
        #footer_left
        #footer_right
            width 100%
            text-align center
            margin 2.5% 0
            br
                display none
            span
                display block
                margin .3em 0 .8em
                &.unidade
                    margin-bottom .3em
        #footer_right
            margin 0
