#header
    +above(tablet)
        .menu_mobile
            display none !important
    +below(tablet)
        width 90%
        height 100px
        .menu_desktop
            display none !important
    +below(mobile)
        height 85px
    .menu_mobile
        height 100%
        position relative
        clearfix()
        img
            float left
            height 70px
            width auto
            margin 15px 0
            +below(mobile)
                height 60px
                margin 14px 0 11px
        #mobile-toggle
            +above(tablet)
                display none
            display block
            background-color transparent
            border 0
            position absolute
            top 0
            right 0
            height 100%
            width 30px
            outline 0
            padding 0
            cursor pointer
            .lines
                display block
                width 100%
                height 4px
                background #000
                position relative
                transition .3s ease
                border-radius 2px
                &:before
                &:after
                    content ""
                    display block
                    position absolute
                    left 0
                    width 100%
                    height 4px
                    border-radius 2px
                    background #000
                    transition .3s ease
                &:before
                    top 8px
                &:after
                    top -8px
            &.close
                .lines
                    background transparent
                    &:before
                    &:after
                        transform-origin 50% 50%
                        top 0
                    &:before
                        transform rotate3d(0,0,1,45deg)
                    &:after
                        transform rotate3d(0,0,1,-45deg)
nav#mobile
    +above(tablet)
        display none !important
    display none
    position absolute
    top 100px
    width 100%
    background #000
    padding 20px 0
    text-align center
    z-index 9999
    +below(mobile)
        top 85px
    a
        display block
        text-decoration none
        padding 4px 0
        font 13px 'Verdana', sans-serif
        color #fff
        text-transform uppercase
        &.sel
            font-weight bold