<?include 'public/include/_header.phtml';?>
		<div id="lightbox"></div>
		<div id="fundo_ligthbox"></div>
	<div id="content">
		<div id="content_interna">
			<h2>Envie aqui seu pedido de orçamento, sugestões ou dúvidas</h2>
			<div id="content_contato">
				<div id="content_contato_left">
					<div class="contato_cidade" id="contato_cidade_sp" title="Abrir formulário de contato">
						<h4 class="unidade">Unidade Osasco:</h4>
						<h5 class="tel">11 3681-9650 | 4624-7995</h5>
						<h5>contato@studiokeventos.com.br</h5>
						<h6>Av. das Flores, Nº 625 - Jd. das Flores - Osasco/SP <?/*CEP: 06110-100*/?></h6>
						<a href="#" class="bt_contato" id="bt_contato_sp">
							Formulário de contato
						</a>
					</div>

					<div class="contato_cidade" id="contato_cidade_abc" title="Abrir formulário de contato">
						<h4 class="unidade abc">Unidade ABC:</h4>
						<!-- <h5 class="tel">11 4942-2054 | 94766-6796</h5> -->
						<h5 class="tel">11 4942-2054 | 94711-0697</h5>
						<h5>comercial@studiokeventos.com.br</h5>
						<h6>Rua Noel Rosa, 30 - Rudge Ramos - São Bernardo do Campo - SP <?/*CEP: 06110-100*/?></h6>
						<a href="#" class="bt_contato" id="bt_contato_abc">
							Formulário de contato
						</a>
					</div>

					<?/*<div class="contato_cidade" id="contato_cidade_id" title="Abrir formulário de contato">
						<h4 class="unidade indaiatuba">Unidade Indaiatuba:</h4>
						<h5 class="tel">19 2516 3447</h5>
						<h5>atendimento@studiokeventos.com.br</h5>
						<h6>Rua Hércules Mazzoni, Nº 1353 - Centro - Indaiatuba/SP <?//CEP: 13330-250?></h6>
						<a href="#" class="bt_contato" id="bt_contato_id">
							Formulário de contato
						</a>
					</div>*/?>

					<div class="contato_cidade" id="contato_cidade_id" title="Abrir formulário de contato">
						<h4 class="unidade indaiatuba">Unidade Campinas:</h4>
						<h5 class="tel">19 2516-3447 | 19 99238-8790</h5>
						<h5>atendimento@studiokeventos.com.br</h5>
						<h6>Av. Tenente Haraldo Egídio de Souza Santos, 67 – Jd. Chapadão – Campinas/SP <?/*CEP: 13330-250*/?></h6>
						<a href="#" class="bt_contato" id="bt_contato_id">
							Formulário de contato
						</a>
					</div>

					<div class="contato_cidade" id="contato_cidade_tat" title="Abrir formulário de contato">
						<h4 class="unidade tatuape">Unidade Tatuapé:</h4>
						<h5 class="tel">11 3360-4709 | 11 94071-9691</h5>
						<h5>tatuape@studiokeventos.com.br</h5>
						<h6>Rua Cantagalo, 1384 - Tatuapé – São Paulo/SP <?/*CEP: 13330-250*/?></h6>
						<a href="#" class="bt_contato" id="bt_contato_tat">
							Formulário de contato
						</a>
					</div>

					<div class="contato_cidade" id="contato_cidade_sta" title="Abrir formulário de contato">
						<h4 class="unidade stoamaro">Unidade Santo Amaro:</h4>
						<h5 class="tel">11 5641-2949 | 94778-5742</h5>
						<h5>santoamaro@studiokeventos.com.br</h5>
						<h6>Rua Visconde de Taunay, 879 - Santo Amaro - São Paulo/SP <?/*CEP: 13330-250*/?></h6>
						<a href="#" class="bt_contato" id="bt_contato_sta">
							Formulário de contato
						</a>
					</div>
				</div>
				<div id="content_contato_right">
					<?/*foreach ($this->result as $campo => $valor) {?>
						<img src="<?=PUBLIC_PATH?>/upload/contato/<?=$valor['caminho_imagem']?>">
					<?}*/?>

					<form action="<?=ROOT_PATH?>/contato/acaocontato" method="post" name="formulario_contato" id="formulario_contato_sp" class="formulario_contato" onSubmit="return validacontato(this);">
						<input type="text" class="input_contato" name="nome" value="Nome" onFocus="this.value='';" maxlength="250"/>
						<input type="text" class="input_contato" name="email" value="E-mail" onFocus="this.value='';" maxlength="250"/>
						<input type="text" class="input_contato" name="telefone" value="Telefone" onkeypress="Mascaratelefone(this);" onFocus="this.value='';" maxlength="13"/>
						<select name="para" id="para" class="input_contato">
							<option value="contato@studiokeventos.com.br" selected>Unidade São Paulo</option>
							<option value="comercial@studiokeventos.com.br">Unidade ABC</option>
							<?/*<option value="atendimento@studiokeventos.com.br">Unidade Indaiatuba</option>*/?>
							<option value="atendimento@studiokeventos.com.br">Unidade Campinas</option>
							<option value="atendimento@studiokeventos.com.br">Unidade Tatuapé</option>
							<option value="santoamaro@studiokeventos.com.br">Unidade Santo Amaro</option>
						</select>
						<input type="text" class="input_contato" name="data_evento" onkeypress="Mascaradata(this);" onFocus="this.value='';" maxlength="10" value="Data do evento"/>
						<textarea class="textarea_contato" name="mensagem" onFocus="this.value='';">Mensagem</textarea>
						<input type="submit" class="submit_contato" value="ENVIAR"/>
					</form>

					<form action="<?=ROOT_PATH?>/contato/acaocontato" method="post" name="formulario_contato" id="formulario_contato_abc" class="formulario_contato" onSubmit="return validacontato(this);">
						<input type="text" class="input_contato" name="nome" value="Nome" onFocus="this.value='';" maxlength="250"/>
						<input type="text" class="input_contato" name="email" value="E-mail" onFocus="this.value='';" maxlength="250"/>
						<input type="text" class="input_contato" name="telefone" value="Telefone" onkeypress="Mascaratelefone(this);" onFocus="this.value='';" maxlength="13"/>
						<select name="para" id="para" class="input_contato">
							<option value="contato@studiokeventos.com.br">Unidade São Paulo</option>
							<option value="comercial@studiokeventos.com.br" selected>Unidade ABC</option>
							<?/*<option value="atendimento@studiokeventos.com.br">Unidade Indaiatuba</option>*/?>
							<option value="atendimento@studiokeventos.com.br">Unidade Campinas</option>
							<option value="atendimento@studiokeventos.com.br">Unidade Tatuapé</option>
							<option value="santoamaro@studiokeventos.com.br">Unidade Santo Amaro</option>
						</select>
						<input type="text" class="input_contato" name="data_evento" onkeypress="Mascaradata(this);" onFocus="this.value='';" maxlength="10" value="Data do evento"/>
						<textarea class="textarea_contato" name="mensagem" onFocus="this.value='';">Mensagem</textarea>
						<input type="submit" class="submit_contato" value="ENVIAR"/>
					</form>

					<form action="<?=ROOT_PATH?>/contato/acaocontato" method="post" name="formulario_contato" id="formulario_contato_id" class="formulario_contato" onSubmit="return validacontato(this);">
						<input type="text" class="input_contato" name="nome" value="Nome" onFocus="this.value='';" maxlength="250"/>
						<input type="text" class="input_contato" name="email" value="E-mail" onFocus="this.value='';" maxlength="250"/>
						<input type="text" class="input_contato" name="telefone" value="Telefone" onkeypress="Mascaratelefone(this);" onFocus="this.value='';" maxlength="13"/>
						<select name="para" id="para" class="input_contato">
							<option value="contato@studiokeventos.com.br">Unidade São Paulo</option>
							<option value="comercial@studiokeventos.com.br">Unidade ABC</option>
							<?/*<option value="atendimento@studiokeventos.com.br" selected>Unidade Indaiatuba</option>*/?>
							<option value="atendimento@studiokeventos.com.br" selected>Unidade Campinas</option>
							<option value="atendimento@studiokeventos.com.br">Unidade Tatuapé</option>
							<option value="santoamaro@studiokeventos.com.br">Unidade Santo Amaro</option>
						</select>
						<input type="text" class="input_contato" name="data_evento" onkeypress="Mascaradata(this);" onFocus="this.value='';" maxlength="10" value="Data do evento"/>
						<textarea class="textarea_contato" name="mensagem" onFocus="this.value='';">Mensagem</textarea>
						<input type="submit" class="submit_contato" value="ENVIAR"/>
					</form>

					<form action="<?=ROOT_PATH?>/contato/acaocontato" method="post" name="formulario_contato" id="formulario_contato_tat" class="formulario_contato" onSubmit="return validacontato(this);">
						<input type="text" class="input_contato" name="nome" value="Nome" onFocus="this.value='';" maxlength="250"/>
						<input type="text" class="input_contato" name="email" value="E-mail" onFocus="this.value='';" maxlength="250"/>
						<input type="text" class="input_contato" name="telefone" value="Telefone" onkeypress="Mascaratelefone(this);" onFocus="this.value='';" maxlength="13"/>
						<select name="para" id="para" class="input_contato">
							<option value="contato@studiokeventos.com.br">Unidade São Paulo</option>
							<option value="comercial@studiokeventos.com.br">Unidade ABC</option>
							<?/*<option value="atendimento@studiokeventos.com.br">Unidade Indaiatuba</option>*/?>
							<option value="atendimento@studiokeventos.com.br">Unidade Campinas</option>
							<option value="atendimento@studiokeventos.com.br" selected>Unidade Tatuapé</option>
							<option value="santoamaro@studiokeventos.com.br">Unidade Santo Amaro</option>
						</select>
						<input type="text" class="input_contato" name="data_evento" onkeypress="Mascaradata(this);" onFocus="this.value='';" maxlength="10" value="Data do evento"/>
						<textarea class="textarea_contato" name="mensagem" onFocus="this.value='';">Mensagem</textarea>
						<input type="submit" class="submit_contato" value="ENVIAR"/>
					</form>

					<form action="<?=ROOT_PATH?>/contato/acaocontato" method="post" name="formulario_contato" id="formulario_contato_sta" class="formulario_contato" onSubmit="return validacontato(this);">
						<input type="text" class="input_contato" name="nome" value="Nome" onFocus="this.value='';" maxlength="250"/>
						<input type="text" class="input_contato" name="email" value="E-mail" onFocus="this.value='';" maxlength="250"/>
						<input type="text" class="input_contato" name="telefone" value="Telefone" onkeypress="Mascaratelefone(this);" onFocus="this.value='';" maxlength="13"/>
						<select name="para" id="para" class="input_contato">
							<option value="contato@studiokeventos.com.br">Unidade São Paulo</option>
							<option value="comercial@studiokeventos.com.br">Unidade ABC</option>
							<?/*<option value="atendimento@studiokeventos.com.br">Unidade Indaiatuba</option>*/?>
							<option value="atendimento@studiokeventos.com.br">Unidade Campinas</option>
							<option value="atendimento@studiokeventos.com.br">Unidade Tatuapé</option>
							<option value="santoamaro@studiokeventos.com.br" selected>Unidade Santo Amaro</option>
						</select>
						<input type="text" class="input_contato" name="data_evento" onkeypress="Mascaradata(this);" onFocus="this.value='';" maxlength="10" value="Data do evento"/>
						<textarea class="textarea_contato" name="mensagem" onFocus="this.value='';">Mensagem</textarea>
						<input type="submit" class="submit_contato" value="ENVIAR"/>
					</form>

					<form action="<?=ROOT_PATH?>/contato/acaocontato" method="post" name="formulario_contato" id="formulario_contato_right" class="formulario_contato" onSubmit="return validacontato(this);">
						<input type="text" class="input_contato" name="nome" value="Nome" onFocus="this.value='';" maxlength="250"/>
						<input type="text" class="input_contato" name="email" value="E-mail" onFocus="this.value='';" maxlength="250"/>
						<input type="text" class="input_contato" name="telefone" value="Telefone" onkeypress="Mascaratelefone(this);" onFocus="this.value='';" maxlength="13"/>
						<select name="para" id="para" class="input_contato">
							<option value="contato@studiokeventos.com.br">Unidade São Paulo</option>
							<option value="comercial@studiokeventos.com.br">Unidade ABC</option>
							<?/*<option value="atendimento@studiokeventos.com.br">Unidade Indaiatuba</option>*/?>
							<option value="atendimento@studiokeventos.com.br">Unidade Campinas</option>
							<option value="atendimento@studiokeventos.com.br">Unidade Tatuapé</option>
							<option value="santoamaro@studiokeventos.com.br">Unidade Santo Amaro</option>
						</select>
						<input type="text" class="input_contato" name="data_evento" onkeypress="Mascaradata(this);" onFocus="this.value='';" maxlength="10" value="Data do evento"/>
						<textarea class="textarea_contato" name="mensagem" onFocus="this.value='';">Mensagem</textarea>
						<input type="submit" class="submit_contato" value="ENVIAR"/>
					</form>
				</div>
			</div>
		</div>
	</div>

	<? if($this->msg){ ?>
	<script type="text/javascript">mensagemcontato("<?=$this->msg?>");</script>
	<? } ?>
<?include 'public/include/_footer.phtml';?>