<?include 'public/include/_header.phtml';?>
<script>
function abrirgaleria(id){
	$.ajax({
		type: "GET",
		url: "<?=ROOT_PATH?>/albuns/galeria/id/"+id,
		success: function( dados ) {
			$( "#galeria_albuns" ).css({'display':'block'});
			$( "#fundo_galeria_albuns" ).css({'display':'block'});
			$( "#galeria_albuns" ).html( dados );
	    }
	});
}
</script>
	<div id="galeria_albuns"></div>
	<div id="fundo_galeria_albuns"></div>
	<div id="content">
		<div id="content_interna">
			<h2>Veja alguns álbuns de casamento feitos por nós</h2>
			<div id="content_interna_albuns">
				<?if ($this->registros == 0){?>
					<p>Nenhuma galeria cadastrada.</p>
				<?}else{?>
					<?foreach ($this->result as $campo => $valor) {?>
						<div class="div_albuns"><a href="javascript:;" onClick="abrirgaleria(<?=$valor['id']?>)"><div class="over"></div><img src="<?=PUBLIC_PATH?>/upload/albuns/tmb_<?=$valor['caminho_img']?>"><?=$valor['nome']?></a></div>
					<?}?>
				<?}?>
			</div>	
		</div>
	</div>
<?include 'public/include/_footer.phtml';?>