<script src="<?=PUBLIC_PATH?>/script/jcrop/jquery.min.js"></script>
<script src="<?=PUBLIC_PATH?>/script/jcrop/jquery.Jcrop.js"></script>

<script type="text/javascript">

  $(function(){

    $('#cropbox').Jcrop({
      onSelect: updateCoords,
      aspectRatio: 900/600
    });

  
     $("#fechar_visualizar_associados").click(function() {
        $('#div_visualiza_inscrito').css({"display":"none"});
        $('#fundo_ligthbox').css({"display":"none"});
     });
    

  });

  function updateCoords(c)
  {
    $('#x').val(c.x);
    $('#y').val(c.y);
    $('#w').val(c.w);
    $('#h').val(c.h);
  };

  function checkCoords()
  {
    if (parseInt($('#w').val())) return true;
    alert('Seleção de imagem inválida');
    return false;
  };

</script>

<a id="fechar_visualizar_associados" href="javascript:;">x</a>

	<div id="div_cropbox">
      	<img src="<?=PUBLIC_PATH?>/upload/debutantes/<?=$this->img?>" id="cropbox" />
    </div>

	<!-- This is the form that our event handler fills -->
	<form action="<?=ROOT_PATH?>/admin/acaocropadicionadebutantesgaleria" method="post" onsubmit="return checkCoords();">
    <input type="hidden" id="info" name="img" value="<?=$this->img?>" />
    <input type="hidden" id="id_galeria" name="id_galeria" value="<?=$this->id_galeria?>" />
		<input type="hidden" id="x" name="x" />
		<input type="hidden" id="y" name="y" />
		<input type="hidden" id="w" name="w" />
		<input type="hidden" id="h" name="h" />
		<input type="submit" value="Enviar" class="form-submit-cut" />
	</form>
 
