<script type="text/javascript">

	function valida() {
		$('#texto').val(CKEDITOR.instances['texto'].getData());

		if ( $("#file_1").val() == "" ) {
			alert('Por favor selecione um arquivo')
			return false;
		}
	}

  	$(function(){
		 $("#fechar_visualizar_associados").click(function() {
		    $('#div_visualiza_inscrito').css({"display":"none"});
		    $('#fundo_ligthbox').css({"display":"none"});
		 });

		$(".file_1").change(function() {
			$('.val').html($("#file_1").val());
		});

	});
</script>
<a id="fechar_visualizar_associados" href="javascript:;">x</a>

	<div id="page-heading">
		<h1>Adiciona Imagem Galeria</h1>
	</div>

<div id="content">

<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr valign="top">
		<td>
			<form action="<?=ROOT_PATH?>/admin/acaoadicionaalbunsgaleria" id="senForm" method="post" onSubmit="return valida();" enctype="multipart/form-data">
				<input type="hidden" name="id_galeria" id="id_galeria" value="<?=$this->id_galeria?>" />
				<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
					<tr>
						<th>Imagem:</th>
						<td><div class="div_file_1"><div class="val"></div><input type="file" name="file" id="file_1" class="file_1" /></div></td>
						<td>
							<div class="bubble-left"></div>
							<div class="bubble-inner">JPEG, GIF,PNG - 10MB</div>
							<div class="bubble-right"></div>
						</td>
					</tr>	
					<tr>
						<th>&nbsp;</th>
						<td valign="top">
							<input type="submit" value="Enviar" class="form-submit" />
						</td>
						<td></td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
	<tr>
		<td><img src="<?=PUBLIC_PATH?>/img/admin/shared/blank.gif" width="695" height="1" alt="blank" /></td>
	</tr>
</table>
</div>