<script type="text/javascript">

	function valida() {
		
		if ( $("#nome").val() == "" ) {
			alert('Preencha o nome')
			return false;
		}
	}

  	$(function(){
		 $("#fechar_visualizar_associados").click(function() {
		    $('#div_visualiza_inscrito').css({"display":"none"});
		    $('#fundo_ligthbox').css({"display":"none"});
		 });
	});
</script>
<a id="fechar_visualizar_associados" href="javascript:;">x</a>

	<div id="page-heading">
		<h1>Adiciona Galeria Albuns</h1>
	</div>

<div id="content">

<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr valign="top">
		<td>
			<form action="<?=ROOT_PATH?>/admin/acaoadicionaalbuns" id="sendForm" method="post" onSubmit="return valida();" enctype="multipart/form-data">
				<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
					<tr>
						<th>Nome:</th>
						<td><input type="text" name="nome" id="nome" class="inp-form"/></div></td>
						<td></td>
					</tr>	
					<tr>
						<th>&nbsp;</th>
						<td valign="top">
							<input type="submit" value="Enviar" class="form-submit" />
						</td>
						<td></td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
	<tr>
		<td><img src="<?=PUBLIC_PATH?>/img/admin/shared/blank.gif" width="695" height="1" alt="blank" /></td>
	</tr>
</table>
</div>