<script type="text/javascript">

	function valida() {

		$('#texto').val(CKEDITOR.instances['texto'].getData());
		
		if ( $("#nome").val() == "" ) {
			alert('Preencha o nome')
			return false;
		}if ( $("#video").val() == "" ) {
			alert('Preencha o link do video')
			return false;
		}if ( $("#tipo").val() == "" ) {
			alert('Selecione o tipo')
			return false;
		}
	}

  	$(function(){
		 $("#fechar_visualizar_associados").click(function() {
		    $('#div_visualiza_inscrito').css({"display":"none"});
		    $('#fundo_ligthbox').css({"display":"none"});
		 });
	});
</script>
<a id="fechar_visualizar_associados" href="javascript:;">x</a>

	<div id="page-heading">
		<h1>Adiciona depoimentos</h1>
	</div>

<div id="content">

<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr valign="top">
		<td>
			<form action="<?=ROOT_PATH?>/admin/acaoadicionadepoimentos" id="sendForm" method="post" onSubmit="return valida();" enctype="multipart/form-data">
				<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
					
					<tr>
						<script src="<?=ROOT_PATH?>/library/ckeditor/ckeditor.js"></script>
						<th valign="top">Texto:</th>
						<td>
							<textarea name="texto" id="texto" rows="10" cols="80"></textarea>
				            <script>CKEDITOR.replace( 'texto' );</script>
				        </td>
						<td></td>
					</tr>	
					<tr>
						<th>Assinatura:</th>
						<td><input type="text" name="assinatura" id="assinatura" class="inp-form"/></td>
						<td></td>
					</tr>	
					<tr>
						<th>&nbsp;</th>
						<td valign="top">
							<input type="submit" value="Enviar" class="form-submit" />
						</td>
						<td></td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table>
</div>