<script type="text/javascript">

	function valida() {

		if ( $("#nome").val() == "" ) {
			alert('Preencha o nome')
			return false;
		}if ( $("#senha").val() == "" ) {
			alert('Preencha o link do video')
			return false;
		}if ( $("#conf_senha").val() != $("#senha").val() ) {
			alert('Senha nao confere')
			return false;
		}
	}

  	$(function(){
		 $("#fechar_visualizar_associados").click(function() {
		    $('#div_visualiza_inscrito').css({"display":"none"});
		    $('#fundo_ligthbox').css({"display":"none"});
		 });
	});
</script>
<a id="fechar_visualizar_associados" href="javascript:;">x</a>

	<div id="page-heading">
		<h1>Adiciona Usuario</h1>
	</div>

<div id="content">

<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr valign="top">
		<td>
			<form action="<?=ROOT_PATH?>/admin/acaoadicionausuario" id="sendForm" method="post" onSubmit="return valida();" enctype="multipart/form-data">
				<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
					
					<tr>
						<th>Usuario:</th>
						<td><input type="text" name="usuario" id="usuario" class="inp-form"/></td>
						<td></td>
					</tr>	
					<tr>
						<th>Senha:</th>
						<td><input type="password" name="senha" id="senha" class="inp-form"/></td>
						<td></td>
					</tr>	
					<tr>
						<th>Confira a senha:</th>
						<td><input type="password" name="conf_senha" id="conf_senha" class="inp-form"/></td>
						<td></td>
					</tr>	
					<tr>
						<th>&nbsp;</th>
						<td valign="top">
							<input type="submit" value="Enviar" class="form-submit" />
						</td>
						<td></td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table>
</div>