<script type="text/javascript">

	function valida() {
		var tipo = $('input[name=tipo]:checked').val();

		if ( $("#nome").val() == "" ) {
			alert('Preencha o nome')
			return false;
		}if ( tipo=='1' && $("#video").val() == "" ) {
			alert('Preencha o link do video')
			return false;
		}if ( tipo=='0' && $("#file_1").val() == "" ) {
			alert('Por favor selecione um arquivo')
			return false;
		}if ( $("#tipo").val() == "" ) {
			alert('Selecione o tipo')
			return false;
		}
	}

  	$(function(){
		 $("#fechar_visualizar_associados").click(function() {
		    $('#div_visualiza_inscrito').css({"display":"none"});
		    $('#fundo_ligthbox').css({"display":"none"});
		 });

		 $('#row-tipo-0').hide();
		 $('.tipo-prewedding').change(function(e){
			$('#row-tipo-0,#row-tipo-1').hide();
			$('#row-tipo-'+$(this).val()).show();
			console.log($(this).val());
		});

		 $(".file_1").change(function() {
			$('#file_1').val().replace(/C:\\fakepath\\/i, '');
			$('.val').html($("#file_1").val().replace(/C:\\fakepath\\/i, ''));
		});
	});
</script>
<style>
.div_file_1 { float: left; }
</style>

<a id="fechar_visualizar_associados" href="javascript:;">x</a>

	<div id="page-heading">
		<h1>Adiciona Pre-wedding</h1>
	</div>

<div id="content">

<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr valign="top">
		<td>
			<form action="<?=ROOT_PATH?>/admin/acaoadicionaprewedding" id="sendForm" method="post" onSubmit="return valida();" enctype="multipart/form-data">
				<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
					<tr>
						<th>Nome:</th>
						<td><input type="text" name="nome" id="nome" class="inp-form"/></td>
						<td></td>
					</tr>	
					<tr>
						<th>Tipo:</th>
						<td>
							<input type="radio" name="tipo" id="tipo_1" class="tipo-prewedding" value="1" checked> Vídeo<br>
							<input type="radio" name="tipo" id="tipo_0" class="tipo-prewedding" value="0"> Foto
						</td>
						<td></td>
					</tr>	
					<tr id="row-tipo-1">
						<th>Video(Youtube/Vimeo):</th>
						<td><input type="text" name="video" id="video" class="inp-form"/></td>
						<td></td>
					</tr>	
					<?/*<tr id="row-tipo-0">
						<th>Imagem:</th>
						<td>
							<input id="MAX_FILES_SIZE" type="hidden" value="12582912" name="MAX_FILES_SIZE"/>
							<div class="div_file_1"><div class="val"></div><input type="file" name="file" id="file_1" class="file_1" /></div>
							<div class="bubble-left"></div>
							<div class="bubble-inner">JPEG, GIF,PNG - 10MB</div>
							<div class="bubble-right"></div>
						</td>
					</tr>*/?>
					<tr>
						<th>&nbsp;</th>
						<td valign="top">
							<input type="submit" value="Enviar" class="form-submit" />
						</td>
						<td></td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table>
</div>