<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
				<tr>
					<th class="table-header-check"></th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Visualizar</a></th>
					<th class="table-header-repeat line-left minwidth-1" width="10"><a href="">Capa</a></th>
					<th class="table-header-options line-left"><a href="">Opções</a></th>
				</tr>

				<?foreach ($this->paginator as $linha => $valor) {?>
					<tr>
					<td>
						<?if($valor['ordem'] != 1){?>
							<a href="javascript:;" onclick="subirordem(<?=$valor['id']?>,<?=$this->pagina?>,<?=$this->id_galeria?>);" title="Cima" class="icon-6 info-tooltip"></a>
						<?}?>
						<?if($valor['ordem'] != $this->registros){?>
							<a href="javascript:;" onclick="descerordem(<?=$valor['id']?>,<?=$this->pagina?>,<?=$this->id_galeria?>);" title="Baixo" class="icon-7 info-tooltip"></a>
						<?}?>
					</td>
					<td><img src="<?=PUBLIC_PATH?>/upload/albuns/<?=$valor['caminho_img']?>" width="200"></td>
					<td>
						<?if ($valor['capa'] == 1) {?>
							<a href="javascript:;" title="Selecionar" class="icon-8 info-tooltip"></a>
						<?}else{?>
							<a href="javascript:;" onclick="selecionar(<?=$valor['id']?>,<?=$this->pagina?>,<?=$this->id_galeria?>);" title="Selecionar" class="icon-9 info-tooltip"></a>
						<?}?>
					</td>
					<td class="options-width">
						<!--<a href="<?=ROOT_PATH?>/admin/editanoticia/id/<?=$valor['id']?>" title="Editar" class="icon-1 info-tooltip"></a>-->
						<a href="<?=ROOT_PATH?>/admin/deletahome/id/<?=$valor['id']?>" title="Excluir" class="icon-2 info-tooltip"></a>
					</td>
				</tr>
				<?}?>
				</table>