				<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
				<thead>
					<tr>
						<th class="table-header-check"></th>
						<th class="table-header-repeat line-left minwidth-1"><a href="">Visualizar</a></th>
						<th class="table-header-options line-left"><a href="">Opções</a></th>
					</tr>
				</thead>
				<tbody>

				<?foreach ($this->paginator as $linha => $valor) {?>
					<tr>
					<td>
						<?//if($valor['ordem'] != 1){?>
							<a href="javascript:;" onclick="subirordem(<?=$valor['id']?>,<?=$this->pagina?>);" title="Cima" class="icon-6 info-tooltip"></a>
						<?//}?>
						<?//if($valor['ordem'] != $this->registros){?>
							<a href="javascript:;" onclick="descerordem(<?=$valor['id']?>,<?=$this->pagina?>);" title="Baixo" class="icon-7 info-tooltip"></a>
						<?//}?>
					</td>
					<td><img src="<?=PUBLIC_PATH?>/upload/home/<?=$valor['caminho_imagem']?>" width="400"></td>
					<td class="options-width">
						<!--<a href="<?=ROOT_PATH?>/admin/editanoticia/id/<?=$valor['id']?>" title="Editar" class="icon-1 info-tooltip"></a>-->
						<a href="<?=ROOT_PATH?>/admin/deletahome/id/<?=$valor['id']?>" title="Excluir" class="icon-2 info-tooltip"></a>
					</td>
				</tr>
				<?}?>
				</tbody>
				</table>
			