				<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
				<tr>
					<th class="table-header-check"></th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Nome</a></th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Tipo</a></th>
					<th class="table-header-options line-left"><a href="">Opções</a></th>
				</tr>

				<?foreach ($this->paginator as $linha => $valor) {?>
					<tr>
					<td>
						<?if($valor['ordem'] != 1){?>
							<a href="javascript:;" onclick="subirordem(<?=$valor['id']?>,<?=$this->pagina?>,'<?=$valor['tipo']?>');" title="Cima" class="icon-6 info-tooltip"></a>
						<?}?>
						<?switch ($valor['tipo']) {
							case 'video':
								if($valor['ordem'] != $this->videos){?>
									<a href="javascript:;" onclick="descerordem(<?=$valor['id']?>,<?=$this->pagina?>,'<?=$valor['tipo']?>');" title="Baixo" class="icon-7 info-tooltip"></a>
								<?}
							break;
							case 'foto':
								if($valor['ordem'] != $this->fotos){?>
									<a href="javascript:;" onclick="descerordem(<?=$valor['id']?>,<?=$this->pagina?>,'<?=$valor['tipo']?>');" title="Baixo" class="icon-7 info-tooltip"></a>
								<?}
							break;
						}?>
					</td>
					<td><?=$valor['nome']?></td>
					<td><?=$valor['tipo']?></td>
					<td class="options-width">
						<a href="javascript:;" onclick="abreeditar(<?=$valor['id']?>)" title="Editar" class="icon-1 info-tooltip"></a>
						<a href="<?=ROOT_PATH?>/admin/deletaprewedding/id/<?=$valor['id']?>" title="Excluir" class="icon-2 info-tooltip"></a>
					</td>
				</tr>
				<?}?>
				</table>