				<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
				<tr>
					<th class="table-header-check"></th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Galeria</a></th>
					<th class="table-header-options line-left"><a href="">Opções</a></th>
				</tr>

				<?foreach ($this->paginator as $linha => $valor) {?>
					<tr>
					<td>
						<?if($valor['ordem'] != 1){?>
							<a href="javascript:;" onclick="subirordem(<?=$valor['id']?>,<?=$this->pagina?>);" title="Cima" class="icon-6 info-tooltip"></a>
						<?}?>
						<?if($valor['ordem'] != $this->registros){?>
							<a href="javascript:;" onclick="descerordem(<?=$valor['id']?>,<?=$this->pagina?>);" title="Baixo" class="icon-7 info-tooltip"></a>
						<?}?>
					</td>
					<td><a href="<?=ROOT_PATH?>/admin/casamentogaleria/id/<?=$valor['id']?>"><?=$valor['nome']?></a></td>
					<td class="options-width">
						<a href="javascript:;" onClick="abreeditar(<?=$valor['id']?>)" title="Editar" class="icon-1 info-tooltip"></a>
						<a href="<?=ROOT_PATH?>/admin/deletacasamento/id/<?=$valor['id']?>" title="Excluir" class="icon-2 info-tooltip"></a>
					</td>
				</tr>
				<?}?>
				</table>