<? include 'public/include/_header-admin.phtml';?>

<?foreach ($this->result as $campo => $valor) {
	$id = $valor['id'];
	$caminho_imagem = $valor['caminho_imagem'];
}?>
<script type="text/javascript">

	function valida() {
		
		if ( $("#texto").val() == "" ) {
			alert('Preencha o texto')
			return false;
		}
	}
	
$(function(){
		$(".file_1").change(function() {
			$('#file_1').val().replace(/C:\\fakepath\\/i, '');
			$('.val').html($("#file_1").val().replace(/C:\\fakepath\\/i, ''));
		});

		
	});
</script>
 

	<div id="div_visualiza_inscrito"></div>
	<div id="fundo_ligthbox"></div> 

<!-- start content-outer ........................................................................................................................START -->
<div id="content-outer">
<!-- start content -->
<div id="content">
<!--  start page-heading -->
	<div id="page-heading">
		<h1>Contato</h1>
	</div>
	<!-- end page-heading -->

	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
	<tr>
		<th rowspan="3" class="sized"></th>
		<th class="topleft"></th>
		<td id="tbl-border-top">&nbsp;</td>
		<th class="topright"></th>
		<th rowspan="3" class="sized"></th>
	</tr>
	<tr>
		<td id="tbl-border-left"></td>
		<td>
		<!--  start content-table-inner ...................................................................... START -->
		<div id="content-table-inner">
		
			<!--  start table-content  -->
			<div id="table-content">

				
				<table border="0" width="100%" cellpadding="0" cellspacing="0">
					<tr valign="top">
						<td>
							<form action="<?=ROOT_PATH?>/admin/acaocontato" method="post" onSubmit="return valida();" enctype="multipart/form-data">
								<input type="hidden" name="id" id="id" value="<?=$id?>"/>
								<input type="hidden" name="caminho_imagem" id="caminho_imagem" value="<?=$caminho_imagem?>"/>
								<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
									<tr>
										<th>Imagem:</th>
										<td><div class="div_file_1"><div class="val"></div><input type="file" name="file" id="file_1" class="file_1" /></div></td>
										<td>
											<div class="bubble-left"></div>
											<div class="bubble-inner">JPEG, GIF,PNG - 10MB</div>
											<div class="bubble-right"></div>
										</td>
									</tr>		
									<tr>
										<th>&nbsp;</th>
										<td valign="top">
											<input type="submit" value="Enviar" class="form-submit" />
										</td>
										<td></td>
									</tr>
								</table>
							</form>
						</td>
					</tr>
				</table>
			<div class="clear"></div>
		 
		</div>
		<!--  end content-table-inner ............................................END  -->
		</td>
		<td id="tbl-border-right"></td>
	</tr>
	<tr>
		<th class="sized bottomleft"></th>
		<td id="tbl-border-bottom">&nbsp;</td>
		<th class="sized bottomright"></th>
	</tr>
	</table>
	<div class="clear">&nbsp;</div>

</div>

<? include 'public/include/_footer-admin.phtml';?>