<?foreach ($this->result as $campo => $valor) {
	$id = $valor['id'];
	$nome = $valor['nome'];
	$caminho_video = $valor['caminho_video'];
	$tipo = $valor['tipo'];
}?>
<script type="text/javascript">

	function valida() {
		
		if ( $("#nome").val() == "" ) {
			alert('Preencha o nome')
			return false;
		}
	}

  	$(function(){
		 $("#fechar_visualizar_associados").click(function() {
		    $('#div_visualiza_inscrito').css({"display":"none"});
		    $('#fundo_ligthbox').css({"display":"none"});
		 });
	});
</script>
<a id="fechar_visualizar_associados" href="javascript:;">x</a>

	<div id="page-heading">
		<h1>Editar Films</h1>
	</div>

<div id="content">

<table border="0" width="100%" cellpadding="0" cellspacing="0">
	<tr valign="top">
		<td>
			<form action="<?=ROOT_PATH?>/admin/acaoeditafilms" id="sendForm" method="post" onSubmit="return valida();" enctype="multipart/form-data">
				<input type="hidden" name="id" id="id" value="<?=$id?>"/>
				<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
					<tr>
						<th>Nome:</th>
						<td><input type="text" name="nome" id="nome" class="inp-form" value="<?=$nome?>"/></td>
						<td></td>
					</tr>	
					<tr>
						<th>Video(Youtube/Vimeo):</th>
						<td><input type="text" name="video" id="video" class="inp-form" value="<?=$caminho_video?>"/></td>
						<td></td>
					</tr>	
					<tr>
						<th>Tipo:</th>
						<td>
							<input type="radio" name="tipo" id="tipo" value="1" <?if ($tipo==1){echo 'checked';}?>>Casamentos<br>
							<input type="radio" name="tipo" id="tipo" value="2" <?if ($tipo==2){echo 'checked';}?>>Debutantes
						</td>
						<td></td>
					</tr>		
					<tr>
						<th>&nbsp;</th>
						<td valign="top">
							<input type="submit" value="Enviar" class="form-submit" />
						</td>
						<td></td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
	<tr>
		<td><img src="<?=PUBLIC_PATH?>/img/admin/shared/blank.gif" width="695" height="1" alt="blank" /></td>
	</tr>
</table>
</div>