<? include 'public/include/_header-admin.phtml';?> 

	<div id="div_visualiza_inscrito"></div>
	<div id="fundo_ligthbox"></div> 
<script>
function abreadicionar(){
	$.ajax({
		type: "GET",
		url: "<?=ROOT_PATH?>/admin/adicionahome",
		success: function( dados ) {
			$( "#div_visualiza_inscrito" ).html( dados );
			$( "#div_visualiza_inscrito" ).css({'display':'block'});
			$( "#fundo_ligthbox" ).css({'display':'block'});
	    }
	});
}
function abreeditar(id){
	$.ajax({
		type: "GET",
		url: "<?=ROOT_PATH?>/admin/editahome/id/"+id,
		success: function( dados ) {
			$( "#div_visualiza_inscrito" ).html( dados );
			$( "#div_visualiza_inscrito" ).css({'display':'block'});
			$( "#fundo_ligthbox" ).css({'display':'block'});
	    }
	});
}
function subirordem(id,pagina,elm){
	return atualizaordem('up',pagina,elm);

	$.ajax({
		type: "GET",
		url: "<?=ROOT_PATH?>/admin/alterahome/alteracao/subir/id/"+id+"/pagina/"+pagina,
		beforeSend: function() {
			$( "#tabela_home" ).html('<center><img src="<?=PUBLIC_PATH?>/img/admin/forms/carregando2.gif"></center>');
	    },
		success: function( dados ) {
			$( "#tabela_home" ).html( dados );
			checkordemlinks();
	    }
	});
}

function descerordem(id,pagina,elm){
	return atualizaordem('down',pagina,elm);

	$.ajax({
		type: "GET",
		url: "<?=ROOT_PATH?>/admin/alterahome/alteracao/descer/id/"+id+"/pagina/"+pagina,
		beforeSend: function() {
			$( "#tabela_home" ).html('<center><img src="<?=PUBLIC_PATH?>/img/admin/forms/carregando2.gif"></center>');
	    },
		success: function( dados ) {
			$( "#tabela_home" ).html( dados );
			checkordemlinks();
	    }
	});
}

function atualizaordem (dir,pagina,elm) {
	var ids = [],
		direction = dir || 'down',
		row = $(elm).parent().parent();

	if(dir=='down') row.insertAfter(row.next());
	else row.insertBefore(row.prev());

	$('#product-table .home-id').each(function(i,elm){
		ids.push(elm.value);
	});

	$.ajax({
		type: "GET",
		url: "<?=ROOT_PATH?>/admin/ordenahome/ids/"+ids.join(',')+"/pagina/"+pagina,
		beforeSend: function() {
			$( "#tabela_home" ).html('<center><img src="<?=PUBLIC_PATH?>/img/admin/forms/carregando2.gif"></center>');
	    },
		success: function( dados ) {
			$( "#tabela_home" ).html( dados );
			checkordemlinks();
	    }
	});
}

function checkordemlinks(){
	$('table#product-table tbody tr:first a.icon-6').remove();
	$('table#product-table tbody tr:last a.icon-7').remove();
}
</script>

<!-- start content-outer ........................................................................................................................START -->
<div id="content-outer">
<!-- start content -->
<div id="content">

	<!--  start page-heading -->
	<div id="page-heading">
		<h1>Galeria Home</h1>
	</div>
	<!-- end page-heading -->

	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
	<tr>
		<th rowspan="3" class="sized"></th>
		<th class="topleft"></th>
		<td id="tbl-border-top">&nbsp;</td>
		<th class="topright"></th>
		<th rowspan="3" class="sized"></th>
	</tr>
	<tr>
		<td id="tbl-border-left"></td>
		<td>
		<!--  start content-table-inner ...................................................................... START -->
		<div id="content-table-inner">
		
			<!--  start table-content  -->
			<div id="table-content">

				<a href="javascript:;" onclick="abreadicionar()"><div class="botao_adicionar">Adicionar</div></a>
				<? if(!empty($this->msg)){ ?>
					<div id="message-green">
					<table border="0" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<?switch ($this->msg) {
							case 1:
								echo "<td class='green-left'>Imagem Cadastrada com sucesso.</td>";
							break;	
							case 2:
								echo "<td class='green-left'>Imagem Alterada com sucesso.</td>";
							break;	
							case 3:
								echo "<td class='green-left'>Imagem Deletada com sucesso.</td>";
							break;												
						}?>
						<td class="green-right"><a class="close-green" href="javascript:;"><img src="<?=PUBLIC_PATH?>/img/admin/table/icon_close_green.gif"   alt="" /></a></td>
					</tr>
					</table>
					</div>
				<? } ?>
				<? if(!empty($this->erro)){ ?>
					<div id="message-red">
					<table border="0" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td class="red-left">Arquivo invalido.</a></td>
						<td class="red-right"><a class="close-red" href="javascript:;"><img src="<?=PUBLIC_PATH?>/img/admin/table/icon_close_red.gif"   alt="" /></a></td>
					</tr>
					</table>
					</div>
				<?}?>
		
				<!--  start product-table ..................................................................................... -->
				<div id="tabela_home">
				<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
				<thead>
					<tr>
						<th class="table-header-check"></th>
						<th class="table-header-repeat line-left minwidth-1"><a href="">Visualizar</a></th>
						<th class="table-header-repeat line-left minwidth-1"><a href="">Link</a></th>
						<th class="table-header-options line-left"><a href="">Opções</a></th>
					</tr>
				</thead>
				<tbody>

				<?foreach ($this->paginator as $linha => $valor) {?>
				<tr>
					<td>
						<?//if($valor['ordem'] != 1){?>
							<a href="javascript:;" onclick="subirordem(<?=$valor['id']?>,<?=$this->pagina?>,this);" title="Cima" class="icon-6 info-tooltip"></a>
						<?//}?>
						<?//if($valor['ordem'] != $this->registros){?>
							<a href="javascript:;" onclick="descerordem(<?=$valor['id']?>,<?=$this->pagina?>,this);" title="Baixo" class="icon-7 info-tooltip"></a>
						<?//}?>
						<input type="hidden" name="home_id[]" class="home-id" value="<?=$valor['id']?>" />
					</td>
					<td><img src="<?=PUBLIC_PATH?>/upload/home/<?=$valor['caminho_imagem']?>" width="400"></td>
					<td><?=$valor['link']?></td>
					<td class="options-width">
						<a href="javascript:;" onClick="abreeditar(<?=$valor['id']?>)" title="Editar" class="icon-1 info-tooltip"></a>
						<a href="<?=ROOT_PATH?>/admin/deletahome/id/<?=$valor['id']?>" title="Excluir" class="icon-2 info-tooltip"></a>
					</td>
				</tr>
				<?}?>
				</tbody>
				</table>
				<!--  end product-table................................... --> 
				</div>
			</div>
			<!--  end content-table  -->
			
			<!--  start paging..................................................... -->
			<?php echo $this->paginationControl($this->paginator, 'Sliding', 'paginator-admin.phtml'); ?>
			<!--  end paging................ -->
			
			<div class="clear"></div>
		 
		</div>
		<!--  end content-table-inner ............................................END  -->
		</td>
		<td id="tbl-border-right"></td>
	</tr>
	<tr>
		<th class="sized bottomleft"></th>
		<td id="tbl-border-bottom">&nbsp;</td>
		<th class="sized bottomright"></th>
	</tr>
	</table>
	<div class="clear">&nbsp;</div>

</div>
<!--  end content -->

<script type="text/javascript">$(document).ready(function(){checkordemlinks();});</script>

<? include 'public/include/_footer-admin.phtml';?>