<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Studiok - Administrador</title>

<link rel="stylesheet" href="<?=PUBLIC_PATH?>/css/admin.css" type="text/css" media="screen" title="default" />
<link rel="shortcut icon" href="<?=PUBLIC_PATH?>/favicon.ico" />

<!--  jquery core -->
<script src="<?=PUBLIC_PATH?>/script/jquery/jquery-1.4.1.min.js" type="text/javascript"></script>

<!-- Custom jquery scripts -->
<script src="<?=PUBLIC_PATH?>/script/jquery/custom_jquery.js" type="text/javascript"></script>

</head>
<body id="login-bg"> 
<!-- Start: login-holder -->
<div id="login-holder">

	<!-- start logo -->
	<div id="logo-login">
		<img src="<?=PUBLIC_PATH?>/img/logo-studiok.jpg" alt="" />
	</div>
	<!-- end logo -->
	<div class="clear"></div>
	
	<!--  start loginbox ................................................................................. -->
	<div id="loginbox">
	
	<!--  start login-inner -->
	<div id="login-inner">
		<form action="<?=ROOT_PATH?>/admin/login" method="post">
			<table border="0" cellpadding="0" cellspacing="0">
				<?
				if (!empty($this->erro)){
					echo "<div id='message-red-login'>";
					switch ($this->erro) {
						case 1:
							echo "Usuario e/ou senha nao preenchida.";
							break;
						case 2:
							echo "Usuario e/ou senha incorreta.";
							break;
						case 3:
							echo "Por favor reinicie a sessão.";
							break;
						case 4:
							echo "Logout realizado com sucesso.";
							break;
						
					}
					echo "</div>";
				}
				?>
				<tr>
					<th>Usuario</th>
					<td><input type="text" name="usuario" class="login-inp" /></td>
				</tr>
				<tr>
					<th>Senha</th>
					<td><input type="password" name="senha" value=""  onfocus="this.value=''" class="login-inp" /></td>
				</tr>
				<tr>
					<th></th>
					<td><input type="submit" value="Entrar" class="submit-login"  /></td>
				</tr>
			</table>
		</form>
	</div>
 	<!--  end login-inner -->
	<div class="clear"></div>
	
 </div>
 <!--  end loginbox -->
 

</div>
<!-- End: login-holder -->
</body>
</html>