<? include 'public/include/_header-admin.phtml';?> 

	<div id="div_visualiza_inscrito"></div>
	<div id="fundo_ligthbox"></div> 
<script>
function abreadicionar(id_galeria){
	$.ajax({
		type: "GET",
		url: "<?=ROOT_PATH?>/admin/adicionapreweddinggaleria/id_galeria/"+id_galeria,
		success: function( dados ) {
			$( "#div_visualiza_inscrito" ).html( dados );
			$( "#div_visualiza_inscrito" ).css({'display':'block'});
			$( "#fundo_ligthbox" ).css({'display':'block'});
	    }
	});
}
function subirordem(id,pagina,id_galeria){
	$.ajax({
		type: "GET",
		url: "<?=ROOT_PATH?>/admin/alterapreweddinggaleria/alteracao/subir/id/"+id+"/pagina/"+pagina+"/id_galeria/"+id_galeria,
		beforeSend: function() {
			$( "#tabela_home" ).html('<center><img src="<?=PUBLIC_PATH?>/img/admin/forms/carregando2.gif"></center>');
	    },
		success: function( dados ) {
			$( "#tabela_home" ).html( dados );
	    }
	});
}

function descerordem(id,pagina,id_galeria){
	$.ajax({
		type: "GET",
		url: "<?=ROOT_PATH?>/admin/alterapreweddinggaleria/alteracao/descer/id/"+id+"/pagina/"+pagina+"/id_galeria/"+id_galeria,
		beforeSend: function() {
			$( "#tabela_home" ).html('<center><img src="<?=PUBLIC_PATH?>/img/admin/forms/carregando2.gif"></center>');
	    },
		success: function( dados ) {
			$( "#tabela_home" ).html( dados );
	    }
	});
}
function selecionar(id,pagina,id_galeria){
	$.ajax({
		type: "GET",
		url: "<?=ROOT_PATH?>/admin/selecionapreweddinggaleria/id/"+id+"/pagina/"+pagina+"/id_galeria/"+id_galeria,
		beforeSend: function() {
			$( "#tabela_home" ).html('<center><img src="<?=PUBLIC_PATH?>/img/admin/forms/carregando2.gif"></center>');
	    },
		success: function( dados ) {
			$( "#tabela_home" ).html( dados );
	    }
	});
}
</script>

<!-- start content-outer ........................................................................................................................START -->
<div id="content-outer">
<!-- start content -->
<div id="content">

	<!--  start page-heading -->
	<div id="page-heading">
		<h1>Galeria Pre-wedding - <?=$this->nome_galeria?></h1>
	</div>
	<!-- end page-heading -->

	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
	<tr>
		<th rowspan="3" class="sized"></th>
		<th class="topleft"></th>
		<td id="tbl-border-top">&nbsp;</td>
		<th class="topright"></th>
		<th rowspan="3" class="sized"></th>
	</tr>
	<tr>
		<td id="tbl-border-left"></td>
		<td>
		<!--  start content-table-inner ...................................................................... START -->
		<div id="content-table-inner">
		
			<!--  start table-content  -->
			<div id="table-content">

				<a href="javascript:;" onclick="abreadicionar(<?=$this->id_galeria?>)"><div class="botao_adicionar">Adicionar</div></a>
				<? if(!empty($this->msg)){ ?>
					<div id="message-green">
					<table border="0" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<?switch ($this->msg) {
							case 1:
								echo "<td class='green-left'>Imagem Cadastrada com sucesso.</td>";
							break;	
							case 2:
								echo "<td class='green-left'>Imagem Alterada com sucesso.</td>";
							break;	
							case 3:
								echo "<td class='green-left'>Imagem Deletada com sucesso.</td>";
							break;												
						}?>
						<td class="green-right"><a class="close-green" href="javascript:;"><img src="<?=PUBLIC_PATH?>/img/admin/table/icon_close_green.gif"   alt="" /></a></td>
					</tr>
					</table>
					</div>
				<? } ?>
				<? if(!empty($this->erro)){ ?>
					<div id="message-red">
					<table border="0" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td class="red-left">Arquivo invalido.</a></td>
						<td class="red-right"><a class="close-red" href="javascript:;"><img src="<?=PUBLIC_PATH?>/img/admin/table/icon_close_red.gif"   alt="" /></a></td>
					</tr>
					</table>
					</div>
				<?}?>
		
				<!--  start product-table ..................................................................................... -->
				<div id="tabela_home">
				<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
				<tr>
					<th class="table-header-check"></th>
					<th class="table-header-repeat line-left minwidth-1"><a href="">Visualizar</a></th>
					<th class="table-header-repeat line-left minwidth-1" width="10"><a href="">Capa</a></th>
					<th class="table-header-options line-left"><a href="">Opções</a></th>
				</tr>

				<?foreach ($this->paginator as $linha => $valor) {?>
					<tr>
					<td>
						<?if($valor['ordem'] != 1){?>
							<a href="javascript:;" onclick="subirordem(<?=$valor['id']?>,<?=$this->pagina?>,<?=$this->id_galeria?>);" title="Cima" class="icon-6 info-tooltip"></a>
						<?}?>
						<?if($valor['ordem'] != $this->registros){?>
							<a href="javascript:;" onclick="descerordem(<?=$valor['id']?>,<?=$this->pagina?>,<?=$this->id_galeria?>);" title="Baixo" class="icon-7 info-tooltip"></a>
						<?}?>
					</td>
					<td><img src="<?=PUBLIC_PATH?>/upload/prewedding/<?=$valor['caminho_img']?>" width="200"></td>
					<td>
						<?if ($valor['capa'] == 1) {?>
							<a href="javascript:;" title="Selecionar" class="icon-8 info-tooltip"></a>
						<?}else{?>
							<a href="javascript:;" onclick="selecionar(<?=$valor['id']?>,<?=$this->pagina?>,<?=$this->id_galeria?>);" title="Selecionar" class="icon-9 info-tooltip"></a>
						<?}?>
					</td>
					<td class="options-width">
						<!--<a href="<?=ROOT_PATH?>/admin/editanoticia/id/<?=$valor['id']?>" title="Editar" class="icon-1 info-tooltip"></a>-->
						<a href="<?=ROOT_PATH?>/admin/deletapreweddinggaleria/id/<?=$valor['id']?>" title="Excluir" class="icon-2 info-tooltip"></a>
					</td>
				</tr>
				<?}?>
				</table>
				<!--  end product-table................................... --> 
				</div>
			</div>
			<!--  end content-table  -->
			
			<!--  start paging..................................................... -->
			<?php echo $this->paginationControl($this->paginator, 'Sliding', 'paginator-admin.phtml'); ?>
			<!--  end paging................ -->
			
			<div class="clear"></div>
		 
		</div>
		<!--  end content-table-inner ............................................END  -->
		</td>
		<td id="tbl-border-right"></td>
	</tr>
	<tr>
		<th class="sized bottomleft"></th>
		<td id="tbl-border-bottom">&nbsp;</td>
		<th class="sized bottomright"></th>
	</tr>
	</table>
	<div class="clear">&nbsp;</div>

</div>
<!--  end content -->

<? include 'public/include/_footer-admin.phtml';?>